# 02_Cleaning_Collection

Author: Daniel Hui

License: MIT

This cleans the columns of data and also removes unecessary columns

In [18]:
import pandas as pd
import numpy as np

In [19]:
#Global Variable
month = "jan"

In [20]:
#Load inventory 
inventory = pd.read_csv(F'../01_Data/02_Truncated/Library_Collection_Inventory_{month}_2018.csv',index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [22]:
inventory.head(3)

,BibNum,Title,Author,ISBN,PublicationYear,Publisher,Subjects,ItemType,ItemCollection,FloatingItem,ItemLocation,ReportDate,ItemCount
0,3177276,Day of the Dead.,NaN,NaN,[2016],"Red Hot/4AD,","Rock music 2011 2020, Rock music",accd,naover,NaN,net,01/01/2018,1
1,395432,Swan Lake / Ann Nugent.,"Nugent, Ann",0812056744,1985.,"Barron's,",Swan lake Choreographic work,acbk,canf,NaN,cen,01/01/2018,1
2,123754,Best short stories of Jack London.,"London, Jack, 1876-1916",NaN,[1945],"Doubleday,",NaN,acbk,cs3fic,NaN,cen,01/01/2018,1

### Cleaning Functions

In [23]:
#This definition cleans all the junk in the publication year column
def clean_year(row):
    try:
        row = row.replace('[','')
        row = row.replace(']','')
        row = row.replace('?','')
        row = row.replace('c','')
        row = row.replace('.','')
        row = row.replace('-','')
        row = row.replace('Â©','')
        row = row.replace('between','')
        row = row.replace(' ','')
        row = row.replace(',','')
        row = row.replace('thatis','')
        row = row.replace('<','')
        row = row.replace('>','')
        row = row.replace('In','')
        row = row.replace('(','')
        row = row.replace(')','')
        if (row[0:2] in ['16','17','18','19','20']) & (len(row) >= 4) :      #if the first part looks 
            row = row[0:4]                                                   #like a year, grab it
        elif (row[-4:-2] in ['16','17','18','19','20']) & (len(row) >= 4) :  #if the last part looks 
            row = row[-4:0]                                                  #like a year,grab it
        else: row = np.nan                                                   #anything else is not a year
        
        try: 
            int(row)             #if what you've caught is a number, return it
            return row
        except: return np.nan    #otherwise return nan
    
    except: return np.nan

In [24]:
#This definition cleans all the junk in the ISBN column. There are often two ISBNs and only need one
def clean_isbn(row):
    try:
        return row.split(',')[0]
    except: return np.nan

### Data Cleaning

In [25]:
inventory['PublicationYear'] = inventory['PublicationYear'].apply(clean_year)
inventory['ISBN'] = inventory['ISBN'].apply(clean_isbn)

### Keep Needed Columns & Remove Duplicates

In [26]:
inventory = inventory[['BibNum','Title','ISBN','PublicationYear','Subjects','ItemType',
                       'ItemCollection','FloatingItem','ItemLocation',"ItemCount"]]
inventory = inventory.drop_duplicates()

### Export

In [27]:
inventory.to_csv(f'../01_Data/03_Cleaned/Library_Collection_Inventory_{month}_2018_clean.csv')