# 03_Merge_Branch_Libraries

Author: Daniel Hui

License: MIT

This Notebook merges a few sets of library branch information together

In [1]:
import pandas as pd
import numpy as np

### I. Branch Data

#### A. Load Book Inventory and Aggregate by Branch

In [19]:
#Load inventory 
inventory = pd.read_csv('../01_Data/03_Cleaned/Library_Collection_Inventory_jan_2018_clean.csv',index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [20]:
inventory_branch = inventory[~inventory["ISBN"].isnull()]                         #remove missing ISBNs 
inventory_branch = inventory_branch[["ItemLocation","ISBN"]].drop_duplicates()    #isol. only 2 cols & rem. dup
inventory_branch = inventory_branch.groupby(by="ItemLocation").count().sort_values(["ISBN"])
inventory_branch = inventory_branch.reset_index()
inventory_branch = inventory_branch.rename({"ItemLocation":"Code","ISBN":"Titles"},axis="columns")

#### B. Load Branch Addresses

In [21]:
#Load branch info
branch = pd.read_csv('../01_Data/02_Truncated/Library_Locations.csv',index_col=0)

In [22]:
combined_branch = branch.merge(inventory_branch,on='Code',how="left")

In [23]:
combined_branch.head()

  Code                      Description  Titles
0  qna    Queen Anne, 400 W GARFIELD ST   18276
1  bal         Ballard, 5614 22ND AV NW   44241
2  bea    Beacon Hill, 2821 BEACON AV S   28365
3  bro  Broadview, 12755 GREENWOOD AV N   33358
4  cap   Capital Hill, 425 HARVARD AV E   27886

#### C. Load Branch Latitude Longitude

In [24]:
#Load branch lat/long
branch_lat_long = pd.read_csv('../01_Data/01_Source/Library_Locations_Lat_Long.csv',index_col=0)
branch_lat_long = branch_lat_long.drop(["Description"],axis=1)

In [25]:
combined_branch = combined_branch.merge(branch_lat_long,on='Code',how="left")  #Merge! 
combined_branch.head()

,Code,Description,Titles,Lat,Long,Branch,Address
0,qna,"Queen Anne, 400 W GARFIELD ST",18276,47.633941,-122.362484,Queen Anne,400 W GARFIELD ST
1,bal,"Ballard, 5614 22ND AV NW",44241,47.670117,-122.383555,Ballard,5614 22ND AV NW
2,bea,"Beacon Hill, 2821 BEACON AV S",28365,47.577991,-122.311403,Beacon Hill,2821 BEACON AV S
3,bro,"Broadview, 12755 GREENWOOD AV N",33358,47.722892,-122.358316,Broadview,12755 GREENWOOD AV N
4,cap,"Capital Hill, 425 HARVARD AV E",27886,47.622933,-122.324510,Capital Hill,425 HARVARD AV E

#### D. Export to CSV

In [26]:
combined_branch.to_csv('../01_Data/03_Cleaned/Library_Branch_Merged.csv')