## 07_Create_Targets_CheckoutData

Author: Daniel Hui

License: MIT

This notebook will create binary checkout targets by comparing books checked out with total books in the inventory.

In [2]:
import pandas as pd

### Import Library Inventory

In [3]:
inventory_df = pd.read_csv('../01_Data/03_Cleaned/Library_Collection_Inventory_jan_2018_clean.csv',index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
all_books = inventory_df["BibNum"].to_frame()
all_books = all_books.drop_duplicates()
all_books = all_books.reset_index(drop=True)

In [5]:
all_books.head(5)

    BibNum
0  3177276
1   395432
2   123754
3   193328
4  1764894

In [6]:
all_books.shape   # There are 397,147 unique titles in the Seattle Public Library Collection

(397147, 1)

### Export: 1st Half 2018 Set

In [34]:
checkouts = pd.read_csv('../01_Data/05_Target/Checkout_Set/18_Half.csv',index_col=0,header=None)
checkouts = checkouts[1]
checkouts = checkouts.reset_index(drop=True)
checkouts = checkouts.to_frame()
checkouts = checkouts.rename({1:"BibNum"},axis=1)  # Rename Column
checkouts["Checkout"] = 0                          # Fill in dummy variable of 1 for being checked out in Q1
checkouts.shape                                    # 215,873 unique titles were checked out in 1st half of 2018

(215873, 2)

In [35]:
Half_target_df = all_books.merge(checkouts, on="BibNum",how='left')   #Merge to attach checked out 1
Half_target_df.head(4)

    BibNum  Checkout
0  3177276       0.0
1   395432       0.0
2   123754       NaN
3   193328       NaN

In [36]:
Half_target_df.shape

(397147, 2)

In [37]:
Half_target_df.describe()

             BibNum  Checkout
count  3.971470e+05  200752.0
mean   2.234259e+06       0.0
std    9.539676e+05       0.0
min    7.000000e+00       0.0
25%    1.848334e+06       0.0
50%    2.554562e+06       0.0
75%    2.957798e+06       0.0
max    3.343666e+06       0.0

In [38]:
Half_target_df = Half_target_df.fillna(1)
Half_target_df.head(4)

    BibNum  Checkout
0  3177276       0.0
1   395432       0.0
2   123754       1.0
3   193328       1.0

In [39]:
Half_target_df.describe()

             BibNum       Checkout
count  3.971470e+05  397147.000000
mean   2.234259e+06       0.494515
std    9.539676e+05       0.499971
min    7.000000e+00       0.000000
25%    1.848334e+06       0.000000
50%    2.554562e+06       0.000000
75%    2.957798e+06       1.000000
max    3.343666e+06       1.000000

In [40]:
Half_target_df.to_csv('../01_Data/05_Target/18_Half_Target.csv')