In [2]:
import pandas as pd
import numpy as np
import requests
import re
from bs4 import BeautifulSoup
from time import sleep 
pd.options.display.max_columns = 30

In [3]:
teams = pd.DataFrame(['ANA','ARI','ATL','BAL','BOS','CAL','CHC','CHW','CIN','CLE','COL','DET','FLA','HOU','KCR',
                   'LAA','LAD','MIA','MIL','MIN','MON','NYM','NYY','OAK','PHI','PIT','SDP','SEA','SFG','STL','TBD','TBR','TEX',
                    'TOR','WSN'])
teams=teams.values
teams

array([['ANA'],
       ['ARI'],
       ['ATL'],
       ['BAL'],
       ['BOS'],
       ['CAL'],
       ['CHC'],
       ['CHW'],
       ['CIN'],
       ['CLE'],
       ['COL'],
       ['DET'],
       ['FLA'],
       ['HOU'],
       ['KCR'],
       ['LAA'],
       ['LAD'],
       ['MIA'],
       ['MIL'],
       ['MIN'],
       ['MON'],
       ['NYM'],
       ['NYY'],
       ['OAK'],
       ['PHI'],
       ['PIT'],
       ['SDP'],
       ['SEA'],
       ['SFG'],
       ['STL'],
       ['TBD'],
       ['TBR'],
       ['TEX'],
       ['TOR'],
       ['WSN']], dtype=object)

In [ ]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'ANA' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'ANA')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

        master_df = pd.concat([master_df, df])

        sleep(1)



# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-ANA.csv', index=False, encoding='utf-8')
    return master_df

seasons()

In [14]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'ARI' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'ARI')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-ARI.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,ARI,NaN,NL West,162,93,69,0,.574,.594,2nd of 5,11.0,NaN,812,659,"2,134,375",28.3,28.7,45,23,Z.Greinke (6.4),NaN
2,2016,ARI,NaN,NL West,162,69,93,0,.426,.424,4th of 5,22.0,NaN,752,890,"2,036,216",26.7,26.4,50,29,J.Segura (5.5),NaN
3,2015,ARI,NaN,NL West,162,79,83,0,.488,.504,3rd of 5,13.0,NaN,720,713,"2,080,145",26.6,27.1,50,27,P.Goldschmidt (8.7),NaN
4,2014,ARI,NaN,NL West,162,64,98,0,.395,.415,5th of 5,30.0,NaN,615,742,"2,073,730",27.6,28.0,52,25,P.Goldschmidt (4.6),NaN
5,2013,ARI,NaN,NL West,162,81,81,0,.500,.493,2nd of 5,11.0,NaN,685,695,"2,134,895",28.1,27.6,44,23,P.Goldschmidt (7.1),NaN
6,2012,ARI,NaN,NL West,162,81,81,0,.500,.530,3rd of 5,13.0,NaN,734,688,"2,177,617",28.3,27.4,48,23,A.Hill (5.1),NaN
7,2011,ARI,NaN,NL West,162,94,68,0,.580,.545,1st of 5,--,NaN,731,662,"2,105,432",28.2,27.4,51,25,J.Upton (5.5),NaN
8,2010,ARI,NaN,NL West,162,65,97,0,.401,.428,5th of 5,27.0,NaN,713,836,"2,056,697",26.8,27.9,48,28,C.Young (5.4),NaN
9,2009,ARI,NaN,NL West,162,70,92,0,.432,.462,5th of 5,25.0,NaN,720,782,"2,128,765",26.5,27.7,45,24,D.Haren (7.0),NaN
10,2008,ARI,NaN,NL West,162,82,80,0,.506,.509,2nd of 5,2.0,NaN,720,706,"2,509,924",26.7,29.4,41,20,D.Haren (6.5),NaN
11,2007,ARI,NaN,NL West,162,90,72,0,.556,.487,1st of 5,--,NaN,712,732,"2,325,249",26.6,28.2,47,26,B.Webb (5.9),NaN
12,2006,ARI,NaN,NL West,162,76,86,0,.469,.491,4th of 5,12.0,NaN,773,788,"2,091,685",29.7,28.8,45,25,B.Webb (7.0),NaN
13,2005,ARI,NaN,NL West,162,77,85,0,.475,.406,2nd of 5,5.0,NaN,696,856,"2,059,424",30.3,27.4,43,25,C.Counsell (5.5),NaN
14,2004,ARI,NaN,NL West,162,51,111,0,.315,.333,5th of 5,42.0,NaN,615,899,"2,519,560",28.9,29.3,52,25,R.Johnson (8.2),NaN
15,2003,ARI,NaN,NL West,162,84,78,0,.519,.521,3rd of 5,16.5,NaN,717,685,"2,805,542",30.6,29.2,43,22,B.Webb (5.9),NaN
16,2002,ARI,NaN,NL West,162,98,64,0,.605,.588,1st of 5,--,NaN,819,674,"3,198,977",31.7,31.7,42,20,R.Johnson (10.5),NaN
17,2001,ARI,NaN,NL West,162,92,70,0,.568,.586,1st of 5,--,NaN,818,677,"2,736,451",31.9,30.9,47,22,R.Johnson (9.4),NaN
18,2000,ARI,NaN,NL West,162,85,77,0,.525,.522,3rd of 5,12.0,NaN,792,754,"2,942,251",30.8,31.6,41,17,R.Johnson (8.1),NaN

In [18]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
   
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'ATL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'ATL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])



#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-ATL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,ATL,NaN,NL East,162,72,90,0,.444,.448,3rd of 5,25.0,NaN,732,821,"2,505,252",28.6,29.4,49,26,F.Freeman (4.5),NaN
2,2016,ATL,NaN,NL East,161,68,93,0,.422,.417,5th of 5,26.5,NaN,649,779,"2,020,914",28.9,26.4,60,35,F.Freeman (6.5),NaN
3,2015,ATL,NaN,NL East,162,67,95,0,.414,.374,4th of 5,23.0,NaN,573,760,"2,001,392",28.8,26.6,60,37,A.Simmons (3.9),NaN
4,2014,ATL,NaN,NL East,162,79,83,0,.488,.481,2nd of 5,17.0,NaN,573,597,"2,354,305",26.8,27.3,39,20,J.Heyward (5.8),NaN
5,2013,ATL,NaN,NL East,162,96,66,0,.593,.603,1st of 5,--,NaN,688,548,"2,548,679",26.8,27.2,44,21,A.Simmons (7.0),NaN
6,2012,ATL,NaN,NL East,162,94,68,0,.580,.570,2nd of 5,4.0,NaN,700,600,"2,420,171",28.5,27.6,41,21,M.Bourn (6.0),NaN
7,2011,ATL,NaN,NL East,162,89,73,0,.549,.526,2nd of 5,13.0,NaN,641,605,"2,372,940",28.9,28.4,45,21,E.O'Flaherty (3.3),NaN
8,2010,ATL,NaN,NL East,162,91,71,0,.562,.573,2nd of 5,6.0,NaN,738,629,"2,510,119",28.6,30.1,43,21,J.Heyward (6.4),NaN
9,2009,ATL,NaN,NL East,162,86,76,0,.531,.562,3rd of 5,7.0,NaN,735,641,"2,373,631",28.8,28.9,45,21,J.Jurrjens (6.7),NaN
10,2008,ATL,NaN,NL East,162,72,90,0,.444,.485,4th of 5,20.0,NaN,753,778,"2,532,834",27.2,28.6,49,28,C.Jones (7.3),NaN
11,2007,ATL,NaN,NL East,162,84,78,0,.519,.546,3rd of 5,5.0,NaN,810,733,"2,745,207",27.7,29.4,50,28,C.Jones (7.6),NaN
12,2006,ATL,NaN,NL East,162,79,83,0,.488,.524,3rd of 5,18.0,NaN,849,805,"2,550,524",27.5,29.4,45,26,J.Smoltz (5.9),NaN
13,2005,ATL,NaN,NL East,162,90,72,0,.556,.560,1st of 5,--,NaN,769,674,"2,521,167",28.1,28.6,45,26,A.Jones (6.7),NaN
14,2004,ATL,NaN,NL East,162,96,66,0,.593,.583,1st of 5,--,NaN,803,668,"2,327,565",28.9,30.1,39,21,J.Drew (8.3),NaN
15,2003,ATL,NaN,NL East,162,101,61,0,.623,.592,1st of 5,--,NaN,907,740,"2,401,084",30.3,31.1,34,17,M.Giles (7.9),NaN
16,2002,ATL,NaN,NL East,161,101,59,1,.631,.602,1st of 5,--,NaN,708,565,"2,603,484",30.6,31.1,38,20,A.Jones (6.6),NaN
17,2001,ATL,NaN,NL East,162,88,74,0,.543,.557,1st of 5,--,NaN,729,643,"2,823,530",30.3,31.1,47,23,C.Jones (5.9),NaN
18,2000,ATL,NaN,NL East,162,95,67,0,.586,.557,1st of 5,--,NaN,810,714,"3,234,304",30.8,31.4,47,22,A.Jones (8.2),NaN

In [23]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'BAL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'BAL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-BAL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,BAL,NaN,AL East,162,75,87,0,.463,.444,5th of 5,18.0,NaN,743,841,"2,028,424",28.6,28.2,50,26,J.Schoop (5.2),NaN
2,2016,BAL,NaN,AL East,162,89,73,0,.549,.518,2nd of 5,4.0,NaN,744,715,"2,172,344",28.5,27.9,47,27,M.Machado (6.9),NaN
3,2015,BAL,NaN,AL East,162,81,81,0,.500,.513,3rd of 5,12.0,NaN,713,693,"2,281,202",27.9,28.3,48,22,M.Machado (7.1),NaN
4,2014,BAL,NaN,AL East,162,96,66,0,.593,.578,1st of 5,--,NaN,705,593,"2,464,473",28.3,27.7,44,20,S.Pearce (5.9),NaN
5,2013,BAL,NaN,AL East,162,85,77,0,.525,.523,3rd of 5,12.0,NaN,745,709,"2,357,561",27.8,27.9,52,26,M.Machado (6.7),NaN
6,2012,BAL,NaN,AL East,162,93,69,0,.574,.505,2nd of 5,2.0,NaN,712,705,"2,102,240",28.0,27.6,52,26,M.Wieters (4.1),NaN
7,2011,BAL,NaN,AL East,162,69,93,0,.426,.412,5th of 5,28.0,NaN,708,860,"1,755,461",28.3,28.2,50,27,M.Wieters (5.2),NaN
8,2010,BAL,NaN,AL East,162,66,96,0,.407,.389,5th of 5,30.0,NaN,613,785,"1,733,019",28.6,28.4,45,23,J.Guthrie (4.5),NaN
9,2009,BAL,NaN,AL East,162,64,98,0,.395,.424,5th of 5,39.0,NaN,741,876,"1,907,163",28.7,28.1,48,27,B.Bergesen (3.3),NaN
10,2008,BAL,NaN,AL East,161,68,93,0,.422,.452,5th of 5,28.5,NaN,782,869,"1,950,075",30.1,27.9,46,26,N.Markakis (7.4),NaN
11,2007,BAL,NaN,AL East,162,69,93,0,.426,.437,4th of 5,27.0,NaN,756,868,"2,164,822",30.4,29.0,49,27,E.Bedard (5.8),NaN
12,2006,BAL,NaN,AL East,162,70,92,0,.432,.428,4th of 5,27.0,NaN,768,899,"2,153,139",30.4,27.9,46,24,M.Tejada (4.5),NaN
13,2005,BAL,NaN,AL East,162,74,88,0,.457,.458,4th of 5,21.0,NaN,729,800,"2,624,740",31.5,28.3,46,20,B.Roberts (7.3),NaN
14,2004,BAL,NaN,AL East,162,78,84,0,.481,.507,3rd of 5,23.0,NaN,842,830,"2,744,018",30.5,27.4,47,22,M.Tejada (7.4),NaN
15,2003,BAL,NaN,AL East,163,71,91,1,.438,.455,4th of 5,30.0,NaN,743,820,"2,454,523",29.3,29.2,42,20,M.Mora (4.7),NaN
16,2002,BAL,NaN,AL East,162,67,95,0,.414,.433,4th of 5,36.5,NaN,667,773,"2,682,439",29.2,27.8,46,20,M.Mora (4.7),NaN
17,2001,BAL,NaN,AL East,162,63,98,1,.391,.415,4th of 5,32.5,NaN,687,829,"3,094,841",30.2,27.6,46,22,J.Conine (2.9),NaN
18,2000,BAL,NaN,AL East,162,74,88,0,.457,.436,4th of 5,13.5,NaN,794,913,"3,297,031",32.2,29.1,50,22,M.Mussina (5.6),NaN

In [25]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'BOS' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'BOS')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-BOS.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,BOS,NaN,AL East,162,93,69,0,.574,.573,1st of 5,--,NaN,785,668,"2,917,678",27.3,28.4,49,27,M.Betts (6.4),NaN
2,2016,BOS,NaN,AL East,162,93,69,0,.574,.606,1st of 5,--,NaN,878,694,"2,955,434",28.5,29.0,50,26,M.Betts (9.7),NaN
3,2015,BOS,NaN,AL East,162,78,84,0,.481,.497,5th of 5,15.0,NaN,748,753,"2,880,694",28.3,28.6,51,26,M.Betts (5.9),NaN
4,2014,BOS,NaN,AL East,162,71,91,0,.438,.445,5th of 5,25.0,NaN,634,715,"2,956,089",29.2,29.9,55,25,D.Pedroia (4.7),NaN
5,2013,BOS,NaN,AL East,162,97,65,0,.599,.618,1st of 5,--,NaN,853,656,"2,833,333",29.6,30.2,48,26,D.Pedroia (6.3),NaN
6,2012,BOS,NaN,AL East,162,69,93,0,.426,.457,5th of 5,26.0,NaN,734,806,"3,043,003",29.4,28.7,56,26,D.Pedroia (5.1),NaN
7,2011,BOS,NaN,AL East,162,90,72,0,.556,.578,3rd of 5,7.0,NaN,875,737,"3,054,001",30.1,30.3,49,27,J.Ellsbury (8.3),NaN
8,2010,BOS,NaN,AL East,162,89,73,0,.549,.543,3rd of 5,7.0,NaN,818,744,"3,046,445",30.9,29.6,53,25,A.Beltre (7.8),NaN
9,2009,BOS,NaN,AL East,162,95,67,0,.586,.577,2nd of 5,8.0,NaN,872,736,"3,062,699",30.0,29.8,52,27,K.Youkilis (6.6),NaN
10,2008,BOS,NaN,AL East,162,95,67,0,.586,.589,2nd of 5,2.0,NaN,845,694,"3,048,250",29.8,29.2,47,23,D.Pedroia (6.9),NaN
11,2007,BOS,NaN,AL East,162,96,66,0,.593,.624,1st of 5,--,NaN,867,657,"2,970,755",30.1,31.1,40,20,J.Beckett (6.5),NaN
12,2006,BOS,NaN,AL East,162,86,76,0,.531,.497,3rd of 5,11.0,NaN,820,825,"2,930,588",30.5,31.1,53,28,D.Ortiz (5.8),NaN
13,2005,BOS,NaN,AL East,162,95,67,0,.586,.556,2nd of 5,--,NaN,910,805,"2,847,888",31.3,33.6,52,26,D.Ortiz (5.2),NaN
14,2004,BOS,NaN,AL East,162,98,64,0,.605,.596,2nd of 5,3.0,NaN,949,768,"2,837,294",30.4,32.5,50,26,C.Schilling (7.7),NaN
15,2003,BOS,NaN,AL East,162,95,67,0,.586,.578,2nd of 5,6.0,NaN,961,809,"2,724,165",29.7,31.2,47,26,P.Martinez (8.0),NaN
16,2002,BOS,NaN,AL East,162,93,69,0,.574,.615,2nd of 5,10.5,NaN,859,665,"2,650,862",29.9,31.1,39,18,D.Lowe (7.3),NaN
17,2001,BOS,NaN,AL East,161,82,79,0,.509,.516,2nd of 5,13.5,NaN,772,745,"2,625,333",30.0,30.9,48,23,M.Ramirez (5.2),NaN
18,2000,BOS,NaN,AL East,162,85,77,0,.525,.528,2nd of 5,2.5,NaN,792,745,"2,585,895",29.3,30.2,52,24,P.Martinez (11.7),NaN

In [26]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'CAL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'CAL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-CAL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,CAL,NaN,AL West,162,80,82,0,.494,.501,2nd of 5,21.0,NaN,710,709,"3,019,585",29.9,29.1,55,31,A.Simmons (7.1),NaN
2,2016,CAL,NaN,AL West,162,74,88,0,.457,.494,4th of 5,21.0,NaN,717,727,"3,016,142",28.5,28.4,53,30,M.Trout (10.5),NaN
3,2015,CAL,NaN,AL West,162,85,77,0,.525,.490,3rd of 5,3.0,NaN,661,675,"3,012,765",28.7,28.3,51,25,M.Trout (9.4),NaN
4,2014,CAL,NaN,AL West,162,98,64,0,.605,.593,1st of 5,--,NaN,773,630,"3,095,935",29.3,28.4,54,31,M.Trout (7.6),NaN
5,2013,CAL,NaN,AL West,162,78,84,0,.481,.498,3rd of 5,18.0,NaN,733,737,"3,019,505",27.8,29.1,49,26,M.Trout (9.0),NaN
6,2012,CAL,NaN,AL West,162,89,73,0,.549,.542,3rd of 4,5.0,NaN,767,699,"3,061,770",28.7,30.1,44,23,M.Trout (10.5),NaN
7,2011,CAL,NaN,AL West,162,86,76,0,.531,.524,2nd of 4,10.0,NaN,667,633,"3,166,321",28.9,28.4,43,21,J.Weaver (6.9),NaN
8,2010,CAL,NaN,AL West,162,80,82,0,.494,.486,3rd of 4,10.0,NaN,681,702,"3,250,814",29.7,28.3,46,21,J.Weaver (5.3),NaN
9,2009,CAL,NaN,AL West,162,97,65,0,.599,.568,1st of 4,--,NaN,883,761,"3,240,386",29.6,28.6,46,25,C.Figgins (7.7),NaN
10,2008,CAL,NaN,AL West,162,100,62,0,.617,.542,1st of 4,--,NaN,765,697,"3,336,747",29.0,27.6,41,19,E.Santana (5.0),NaN
11,2007,CAL,NaN,AL West,162,94,68,0,.580,.553,1st of 4,--,NaN,822,731,"3,365,632",28.6,28.4,42,18,J.Lackey (6.2),NaN
12,2006,CAL,NaN,AL West,162,89,73,0,.549,.521,2nd of 4,4.0,NaN,766,732,"3,406,790",28.8,27.9,40,18,J.Weaver (4.7),NaN
13,2005,CAL,NaN,AL West,162,95,67,0,.586,.576,1st of 4,--,NaN,761,643,"3,404,686",29.8,28.5,40,18,V.Guerrero (5.7),NaN
14,2004,CAL,NaN,AL West,162,92,70,0,.568,.559,1st of 4,--,NaN,836,734,"3,375,677",28.9,29.0,38,16,V.Guerrero (5.6),NaN
15,2003,CAL,NaN,AL West,162,77,85,0,.475,.496,3rd of 4,19.0,NaN,736,743,"3,061,094",29.1,29.0,43,19,G.Anderson (4.0),NaN
16,2002,CAL,NaN,AL West,162,99,63,0,.611,.625,2nd of 4,4.0,NaN,851,644,"2,305,547",28.3,30.2,40,18,D.Erstad (6.4),NaN
17,2001,CAL,NaN,AL West,162,75,87,0,.463,.475,3rd of 4,41.0,NaN,691,730,"2,000,919",27.9,28.9,38,18,T.Glaus (5.2),NaN
18,2000,CAL,NaN,AL West,162,82,80,0,.506,.497,3rd of 4,9.5,NaN,864,869,"2,066,982",27.6,28.9,45,25,D.Erstad (8.3),NaN

In [27]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'CHC' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'CHC')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-CHC.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,CHC,NaN,NL Central,162,92,70,0,.568,.576,1st of 5,--,NaN,822,695,"3,199,562",27.1,30.8,47,28,K.Bryant (6.2),NaN
2,2016,CHC,NaN,NL Central,162,103,58,1,.640,.665,1st of 5,--,NaN,808,556,"3,232,420",27.4,29.9,45,26,K.Bryant (7.4),NaN
3,2015,CHC,NaN,NL Central,162,97,65,0,.599,.557,3rd of 5,3.0,NaN,689,608,"2,919,122",26.9,29.3,50,29,J.Arrieta (8.6),NaN
4,2014,CHC,NaN,NL Central,162,73,89,0,.451,.436,5th of 5,17.0,NaN,614,707,"2,652,113",26.8,28.0,48,27,J.Arrieta (5.7),NaN
5,2013,CHC,NaN,NL Central,162,66,96,0,.407,.439,5th of 5,31.0,NaN,602,689,"2,642,682",27.9,28.7,56,31,T.Wood (5.0),NaN
6,2012,CHC,NaN,NL Central,162,61,101,0,.377,.403,5th of 6,36.0,NaN,613,759,"2,882,756",27.8,27.9,53,30,D.Barney (4.6),NaN
7,2011,CHC,NaN,NL Central,162,71,91,0,.438,.434,5th of 6,25.0,NaN,654,756,"3,017,966",29.3,29.4,42,22,S.Castro (3.2),NaN
8,2010,CHC,NaN,NL Central,162,75,87,0,.463,.448,5th of 6,16.0,NaN,685,767,"3,062,973",29.4,28.2,44,23,M.Byrd (3.7),NaN
9,2009,CHC,NaN,NL Central,161,83,78,0,.516,.523,2nd of 6,7.5,NaN,707,672,"3,168,859",29.9,28.4,45,24,D.Lee (5.4),NaN
10,2008,CHC,NaN,NL Central,161,97,64,0,.602,.609,1st of 6,--,NaN,855,671,"3,300,200",30.1,28.9,42,23,R.Dempster (6.8),NaN
11,2007,CHC,NaN,NL Central,162,85,77,0,.525,.539,1st of 6,--,NaN,752,690,"3,252,462",29.3,28.4,47,22,A.Ramirez (5.3),NaN
12,2006,CHC,NaN,NL Central,162,66,96,0,.407,.431,6th of 6,17.5,NaN,716,834,"3,123,215",28.6,28.0,46,23,C.Zambrano (5.7),NaN
13,2005,CHC,NaN,NL Central,162,79,83,0,.488,.493,4th of 6,21.0,NaN,703,714,"3,099,992",29.7,28.2,46,22,D.Lee (7.7),NaN
14,2004,CHC,NaN,NL Central,162,89,73,0,.549,.578,3rd of 6,16.0,NaN,789,665,"3,170,154",30.1,29.1,43,19,C.Zambrano (7.3),NaN
15,2003,CHC,NaN,NL Central,162,88,74,0,.543,.527,1st of 6,--,NaN,724,683,"2,962,630",31.3,28.2,42,17,M.Prior (7.9),NaN
16,2002,CHC,NaN,NL Central,162,67,95,0,.414,.467,5th of 6,30.0,NaN,706,759,"2,693,096",30.2,27.6,44,22,S.Sosa (5.7),NaN
17,2001,CHC,NaN,NL Central,162,88,74,0,.543,.547,3rd of 6,5.0,NaN,777,701,"2,779,465",30.7,29.8,43,20,S.Sosa (10.3),NaN
18,2000,CHC,NaN,NL Central,162,65,97,0,.401,.424,6th of 6,30.0,NaN,764,904,"2,789,511",30.8,28.4,51,24,S.Sosa (5.7),NaN

In [28]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'CHW' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'CHW')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-CHW.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,CHW,NaN,AL Central,162,67,95,0,.414,.432,4th of 5,35.0,NaN,706,820,"1,629,470",26.7,28.7,51,31,J.Abreu (4.7),NaN
2,2016,CHW,NaN,AL Central,162,78,84,0,.481,.481,4th of 5,16.5,NaN,686,715,"1,746,293",28.3,28.6,50,28,A.Eaton (6.1),NaN
3,2015,CHW,NaN,AL Central,162,76,86,0,.469,.446,4th of 5,19.0,NaN,622,701,"1,755,810",28.2,27.8,40,24,J.Quintana (4.0),NaN
4,2014,CHW,NaN,AL Central,162,73,89,0,.451,.437,4th of 5,17.0,NaN,660,758,"1,650,821",27.7,27.4,44,26,C.Sale (6.1),NaN
5,2013,CHW,NaN,AL Central,162,63,99,0,.389,.414,5th of 5,30.0,NaN,598,723,"1,768,413",29.2,27.1,47,24,C.Sale (6.5),NaN
6,2012,CHW,NaN,AL Central,162,85,77,0,.525,.546,2nd of 5,3.0,NaN,748,676,"1,965,955",30.0,27.5,45,25,C.Sale (5.6),NaN
7,2011,CHW,NaN,AL Central,162,79,83,0,.488,.465,3rd of 5,16.0,NaN,654,706,"2,001,117",30.0,28.5,42,22,M.Buehrle (3.9),NaN
8,2010,CHW,NaN,AL Central,162,88,74,0,.543,.530,2nd of 5,6.0,NaN,752,704,"2,194,378",30.7,29.0,40,20,A.Ramirez (5.6),NaN
9,2009,CHW,NaN,AL Central,162,79,83,0,.488,.495,3rd of 5,7.5,NaN,724,732,"2,284,163",29.8,29.5,45,24,M.Buehrle (5.5),NaN
10,2008,CHW,NaN,AL Central,163,89,74,0,.546,.549,1st of 5,--,NaN,811,729,"2,500,648",30.6,28.3,39,19,J.Danks (6.4),NaN
11,2007,CHW,NaN,AL Central,162,72,90,0,.444,.413,4th of 5,24.0,NaN,693,839,"2,684,395",29.8,27.7,43,21,J.Vazquez (6.1),NaN
12,2006,CHW,NaN,AL Central,162,90,72,0,.556,.541,3rd of 5,6.0,NaN,868,794,"2,957,414",29.8,27.9,37,18,J.Thome (4.9),NaN
13,2005,CHW,NaN,AL Central,162,99,63,0,.611,.563,1st of 5,--,NaN,741,645,"2,342,833",29.3,29.3,38,17,M.Buehrle (4.8),NaN
14,2004,CHW,NaN,AL Central,162,83,79,0,.512,.518,2nd of 5,9.0,NaN,865,831,"1,930,537",28.6,28.2,42,22,A.Rowand (5.7),NaN
15,2003,CHW,NaN,AL Central,162,86,76,0,.531,.546,2nd of 5,4.0,NaN,791,715,"1,939,524",29.4,27.9,40,20,E.Loaiza (7.2),NaN
16,2002,CHW,NaN,AL Central,162,81,81,0,.500,.532,2nd of 5,13.5,NaN,856,798,"1,676,911",28.9,25.8,35,16,M.Ordonez (5.1),NaN
17,2001,CHW,NaN,AL Central,162,83,79,0,.512,.502,3rd of 5,8.0,NaN,798,795,"1,766,172",28.5,26.2,42,21,M.Buehrle (6.0),NaN
18,2000,CHW,NaN,AL Central,162,95,67,0,.586,.570,1st of 5,--,NaN,978,839,"1,947,799",27.6,26.5,42,22,F.Thomas (6.0),NaN

In [29]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'CIN' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'CIN')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-CIN.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,CIN,NaN,NL Central,162,68,94,0,.420,.435,5th of 5,24.0,NaN,753,869,"1,836,917",27.2,27.6,47,31,J.Votto (7.5),NaN
2,2016,CIN,NaN,NL Central,162,68,94,0,.420,.420,5th of 5,35.5,NaN,716,854,"1,894,085",27.8,27.1,52,32,J.Votto (4.0),NaN
3,2015,CIN,NaN,NL Central,162,64,98,0,.395,.426,5th of 5,36.0,NaN,640,754,"2,419,506",29.5,27.3,50,28,J.Votto (7.7),NaN
4,2014,CIN,NaN,NL Central,162,76,86,0,.469,.487,4th of 5,14.0,NaN,595,612,"2,476,664",29.0,28.0,45,25,J.Cueto (6.8),NaN
5,2013,CIN,NaN,NL Central,162,90,72,0,.556,.577,3rd of 5,7.0,NaN,698,589,"2,492,101",28.5,27.7,39,20,J.Votto (6.6),NaN
6,2012,CIN,NaN,NL Central,162,97,65,0,.599,.559,1st of 6,--,NaN,669,588,"2,347,251",28.8,27.1,38,17,J.Votto (5.9),NaN
7,2011,CIN,NaN,NL Central,162,79,83,0,.488,.509,3rd of 6,17.0,NaN,735,720,"2,213,588",28.6,27.7,42,21,J.Votto (6.6),NaN
8,2010,CIN,NaN,NL Central,162,91,71,0,.562,.565,1st of 6,--,NaN,790,685,"2,060,550",29.0,28.2,44,23,J.Votto (7.0),NaN
9,2009,CIN,NaN,NL Central,162,78,84,0,.481,.467,4th of 6,13.0,NaN,673,723,"1,747,919",27.8,29.0,46,22,J.Votto (4.8),NaN
10,2008,CIN,NaN,NL Central,162,74,88,0,.457,.442,5th of 6,23.5,NaN,704,800,"2,058,632",28.6,28.7,48,24,E.Volquez (4.5),NaN
11,2007,CIN,NaN,NL Central,162,72,90,0,.444,.461,5th of 6,13.0,NaN,783,853,"2,058,593",29.7,29.1,51,25,A.Harang (5.5),NaN
12,2006,CIN,NaN,NL Central,162,80,82,0,.494,.469,3rd of 6,3.5,NaN,749,801,"2,134,607",29.6,29.5,54,29,B.Arroyo (7.0),NaN
13,2005,CIN,NaN,NL Central,163,73,89,1,.451,.463,5th of 6,27.0,NaN,820,889,"1,943,067",28.6,28.9,46,22,F.Lopez (4.3),NaN
14,2004,CIN,NaN,NL Central,162,76,86,0,.469,.414,4th of 6,29.0,NaN,750,907,"2,287,250",28.4,28.5,44,22,A.Dunn (4.7),NaN
15,2003,CIN,NaN,NL Central,162,69,93,0,.426,.390,5th of 6,19.0,NaN,694,886,"2,355,259",27.3,28.0,57,30,J.Guillen (4.7),NaN
16,2002,CIN,NaN,NL Central,162,78,84,0,.481,.460,3rd of 6,19.0,NaN,709,774,"1,855,787",27.7,28.7,43,21,E.Dessens (4.2),NaN
17,2001,CIN,NaN,NL Central,162,66,96,0,.407,.434,5th of 6,27.0,NaN,735,850,"1,879,757",28.0,27.4,50,25,E.Dessens (4.5),NaN
18,2000,CIN,NaN,NL Central,163,85,77,1,.525,.534,2nd of 6,10.0,NaN,825,765,"2,577,371",29.2,28.5,45,21,K.Griffey (5.5),NaN

In [30]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'CLE' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'CLE')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-CLE.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,CLE,NaN,AL Central,162,102,60,0,.630,.664,1st of 5,--,NaN,818,564,"2,048,138",28.1,28.9,41,20,C.Kluber (8.2),NaN
2,2016,CLE,NaN,AL Central,161,94,67,0,.584,.563,1st of 5,--,NaN,777,676,"1,591,667",29.0,28.1,48,27,F.Lindor (5.9),NaN
3,2015,CLE,NaN,AL Central,161,81,80,0,.503,.520,3rd of 5,13.5,NaN,669,640,"1,388,905",28.0,27.3,49,27,F.Lindor (4.6),NaN
4,2014,CLE,NaN,AL Central,162,85,77,0,.525,.511,3rd of 5,5.0,NaN,669,653,"1,437,393",28.6,27.2,46,23,C.Kluber (8.3),NaN
5,2013,CLE,NaN,AL Central,162,92,70,0,.568,.554,2nd of 5,1.0,NaN,745,662,"1,572,926",28.7,27.5,49,28,J.Kipnis (5.7),NaN
6,2012,CLE,NaN,AL Central,162,68,94,0,.420,.393,4th of 5,20.0,NaN,667,845,"1,603,596",27.8,27.6,48,24,J.Kipnis (3.9),NaN
7,2011,CLE,NaN,AL Central,162,80,82,0,.494,.465,2nd of 5,15.0,NaN,704,760,"1,840,835",27.8,26.7,46,22,A.Cabrera (4.7),NaN
8,2010,CLE,NaN,AL Central,162,69,93,0,.426,.431,4th of 5,25.0,NaN,646,752,"1,391,644",27.2,26.6,45,22,S.Choo (5.9),NaN
9,2009,CLE,NaN,AL Central,162,65,97,0,.401,.449,4th of 5,21.5,NaN,773,865,"1,766,242",27.4,27.8,52,29,S.Choo (5.5),NaN
10,2008,CLE,NaN,AL Central,162,81,81,0,.500,.526,3rd of 5,7.5,NaN,805,761,"2,169,760",27.6,28.6,49,28,C.Lee (6.7),NaN
11,2007,CLE,NaN,AL Central,162,96,66,0,.593,.564,1st of 5,--,NaN,811,704,"2,275,912",28.0,29.4,41,21,C.Sabathia (6.4),NaN
12,2006,CLE,NaN,AL Central,162,78,84,0,.481,.549,4th of 5,18.0,NaN,870,782,"1,997,995",27.7,28.6,45,23,G.Sizemore (6.6),NaN
13,2005,CLE,NaN,AL Central,162,93,69,0,.574,.594,2nd of 5,6.0,NaN,790,642,"2,013,763",27.5,29.2,38,17,G.Sizemore (6.6),NaN
14,2004,CLE,NaN,AL Central,162,80,82,0,.494,.501,3rd of 5,12.0,NaN,858,857,"1,814,401",28.6,27.3,52,30,T.Hafner (5.0),NaN
15,2003,CLE,NaN,AL Central,162,68,94,0,.420,.451,4th of 5,22.0,NaN,699,778,"1,730,002",27.1,26.3,54,29,M.Bradley (4.1),NaN
16,2002,CLE,NaN,AL Central,162,74,88,0,.457,.443,3rd of 5,20.5,NaN,739,837,"2,616,940",30.4,28.1,59,31,J.Thome (7.4),NaN
17,2001,CLE,NaN,AL Central,162,91,71,0,.562,.540,1st of 5,--,NaN,897,821,"3,175,523",31.1,29.1,44,24,R.Alomar (7.3),NaN
18,2000,CLE,NaN,AL Central,162,90,72,0,.556,.569,2nd of 5,5.0,NaN,950,816,"3,456,278",30.1,30.2,55,32,R.Alomar (5.6),NaN

In [31]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'COL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'COL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-COL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,COL,NaN,NL West,162,87,75,0,.537,.539,3rd of 5,17.0,NaN,824,757,"2,953,650",28.3,27.0,41,21,N.Arenado (7.2),NaN
2,2016,COL,NaN,NL West,162,75,87,0,.463,.492,3rd of 5,16.0,NaN,845,860,"2,602,524",27.8,27.7,47,25,N.Arenado (6.6),NaN
3,2015,COL,NaN,NL West,162,68,94,0,.420,.438,5th of 5,24.0,NaN,737,844,"2,506,789",28.0,28.7,51,30,N.Arenado (5.8),NaN
4,2014,COL,NaN,NL West,162,66,96,0,.407,.463,4th of 5,28.0,NaN,755,818,"2,680,329",27.4,28.5,49,26,T.Tulowitzki (5.5),NaN
5,2013,COL,NaN,NL West,162,74,88,0,.457,.466,5th of 5,18.0,NaN,706,760,"2,793,828",27.7,28.3,43,23,J.Chacin (5.9),NaN
6,2012,COL,NaN,NL West,162,64,98,0,.395,.427,5th of 5,30.0,NaN,758,890,"2,630,458",28.1,28.2,49,27,R.Betancourt (2.7),NaN
7,2011,COL,NaN,NL West,162,73,89,0,.451,.476,4th of 5,21.0,NaN,735,774,"2,909,777",28.6,27.7,55,29,T.Tulowitzki (6.2),NaN
8,2010,COL,NaN,NL West,162,83,79,0,.512,.533,3rd of 5,9.0,NaN,770,717,"2,875,245",28.8,28.1,43,23,U.Jimenez (7.3),NaN
9,2009,COL,NaN,NL West,162,92,70,0,.568,.553,2nd of 5,3.0,NaN,804,715,"2,665,080",27.8,28.5,45,25,T.Tulowitzki (6.5),NaN
10,2008,COL,NaN,NL West,162,74,88,0,.457,.456,3rd of 5,10.0,NaN,747,822,"2,650,218",27.5,28.5,49,26,M.Holliday (5.9),NaN
11,2007,COL,NaN,NL West,163,90,73,0,.552,.558,2nd of 5,0.5,NaN,860,758,"2,376,250",27.9,28.1,53,30,T.Tulowitzki (6.8),NaN
12,2006,COL,NaN,NL West,162,76,86,0,.469,.501,4th of 5,12.0,NaN,813,812,"2,104,362",27.8,28.8,50,24,G.Atkins (5.0),NaN
13,2005,COL,NaN,NL West,162,67,95,0,.414,.431,5th of 5,15.0,NaN,740,862,"1,914,389",27.2,27.3,54,27,T.Helton (4.6),NaN
14,2004,COL,NaN,NL West,162,68,94,0,.420,.453,4th of 5,25.0,NaN,833,923,"2,338,069",30.4,28.8,47,25,T.Helton (8.3),NaN
15,2003,COL,NaN,NL West,162,74,88,0,.457,.480,4th of 5,26.5,NaN,853,892,"2,334,085",29.5,28.0,50,23,T.Helton (6.3),NaN
16,2002,COL,NaN,NL West,162,73,89,0,.451,.435,4th of 5,25.0,NaN,778,898,"2,737,838",28.7,28.5,43,22,T.Helton (6.3),NaN
17,2001,COL,NaN,NL West,162,73,89,0,.451,.509,5th of 5,19.0,NaN,923,906,"3,166,821",28.3,28.7,53,26,T.Helton (7.8),NaN
18,2000,COL,NaN,NL West,162,82,80,0,.506,.535,4th of 5,15.0,NaN,968,897,"3,295,129",29.2,29.9,49,25,T.Helton (8.9),NaN

In [32]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'DET' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'DET')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-DET.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,DET,NaN,AL Central,162,64,98,0,.395,.411,5th of 5,38.0,NaN,735,894,"2,321,599",29.6,28.3,49,29,J.Upton (5.2),NaN
2,2016,DET,NaN,AL Central,161,86,75,0,.534,.518,2nd of 5,8.0,NaN,750,721,"2,493,859",30.0,29.0,44,23,J.Verlander (7.2),NaN
3,2015,DET,NaN,AL Central,161,74,87,0,.460,.430,5th of 5,20.5,NaN,689,803,"2,726,048",28.3,28.7,47,27,I.Kinsler (5.9),NaN
4,2014,DET,NaN,AL Central,162,90,72,0,.556,.533,1st of 5,--,NaN,757,705,"2,917,209",29.8,28.5,48,30,I.Kinsler (5.8),NaN
5,2013,DET,NaN,AL Central,162,93,69,0,.574,.610,1st of 5,--,NaN,796,624,"3,083,397",30.0,28.4,39,20,M.Cabrera (7.3),NaN
6,2012,DET,NaN,AL Central,162,88,74,0,.543,.537,1st of 5,--,NaN,726,670,"3,028,033",27.9,28.2,47,23,J.Verlander (8.0),NaN
7,2011,DET,NaN,AL Central,162,95,67,0,.586,.546,1st of 5,--,NaN,787,711,"2,642,045",28.6,27.8,45,26,J.Verlander (8.6),NaN
8,2010,DET,NaN,AL Central,162,81,81,0,.500,.505,3rd of 5,13.0,NaN,751,743,"2,461,237",29.0,26.5,41,20,M.Cabrera (6.5),NaN
9,2009,DET,NaN,AL Central,163,86,77,0,.528,.499,2nd of 5,1.0,NaN,743,745,"2,567,165",29.8,26.6,45,23,J.Verlander (5.4),NaN
10,2008,DET,NaN,AL Central,162,74,88,0,.457,.480,5th of 5,14.5,NaN,821,857,"3,202,645",30.3,29.9,46,25,P.Polanco (4.4),NaN
11,2007,DET,NaN,AL Central,162,88,74,0,.543,.549,2nd of 5,8.0,NaN,887,797,"3,047,133",30.9,28.5,44,25,C.Granderson (7.6),NaN
12,2006,DET,NaN,AL Central,162,95,67,0,.586,.589,2nd of 5,1.0,NaN,822,675,"2,595,937",29.3,28.8,40,19,C.Guillen (6.0),NaN
13,2005,DET,NaN,AL Central,162,71,91,0,.438,.461,4th of 5,28.0,NaN,723,787,"2,024,431",28.5,28.0,45,23,P.Polanco (4.3),NaN
14,2004,DET,NaN,AL Central,162,72,90,0,.444,.491,4th of 5,20.0,NaN,827,844,"1,917,004",28.1,27.5,39,18,C.Guillen (4.6),NaN
15,2003,DET,NaN,AL Central,162,43,119,0,.265,.305,5th of 5,47.0,NaN,591,928,"1,368,245",27.3,25.3,43,20,D.Young (3.4),NaN
16,2002,DET,NaN,AL Central,161,55,106,0,.342,.322,5th of 5,39.0,NaN,575,864,"1,503,623",28.1,28.1,57,30,J.Weaver (2.8),NaN
17,2001,DET,NaN,AL Central,162,66,96,0,.407,.414,4th of 5,25.0,NaN,724,876,"1,921,305",28.3,28.1,44,22,S.Sparks (4.4),NaN
18,2000,DET,NaN,AL Central,162,79,83,0,.488,.498,3rd of 5,16.0,NaN,823,827,"2,438,617",29.1,29.1,45,23,B.Higginson (5.3),NaN

In [33]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'FLA' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'FLA')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-FLA.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,FLA,NaN,NL East,162,77,85,0,.475,.475,2nd of 5,20.0,NaN,778,822,"1,583,014",28.3,28.7,43,24,G.Stanton (7.6),NaN
2,2016,FLA,NaN,NL East,161,79,82,0,.491,.482,3rd of 5,15.5,NaN,655,682,"1,712,417",28.3,28.0,53,31,C.Yelich (5.4),NaN
3,2015,FLA,NaN,NL East,162,71,91,0,.438,.454,3rd of 5,19.0,NaN,613,678,"1,752,235",27.9,27.3,51,29,D.Gordon (5.1),NaN
4,2014,FLA,NaN,NL East,162,77,85,0,.475,.480,4th of 5,19.0,NaN,645,674,"1,732,283",27.4,26.4,45,25,G.Stanton (6.5),NaN
5,2013,FLA,NaN,NL East,162,62,100,0,.383,.396,5th of 5,34.0,NaN,513,646,"1,586,322",27.7,26.0,53,26,J.Fernandez (6.7),NaN
6,2012,FLA,NaN,NL East,162,69,93,0,.426,.422,5th of 5,29.0,NaN,609,724,"2,219,444",28.3,28.8,45,21,G.Stanton (5.4),NaN
7,2011,FLA,NaN,NL East,162,72,90,0,.444,.447,5th of 5,30.0,NaN,625,702,"1,520,562",27.4,28.0,44,22,G.Stanton (4.1),NaN
8,2010,FLA,NaN,NL East,162,80,82,0,.494,.501,3rd of 5,17.0,NaN,719,717,"1,524,894",26.9,27.1,57,31,J.Johnson (6.6),NaN
9,2009,FLA,NaN,NL East,162,87,75,0,.537,.504,2nd of 5,6.0,NaN,772,766,"1,464,109",27.0,26.3,44,27,J.Johnson (7.4),NaN
10,2008,FLA,NaN,NL East,161,84,77,0,.522,.502,3rd of 5,7.5,NaN,770,767,"1,335,076",28.0,26.6,45,22,H.Ramirez (6.7),NaN
11,2007,FLA,NaN,NL East,162,71,91,0,.438,.445,5th of 5,18.0,NaN,790,891,"1,370,511",26.7,26.2,50,30,H.Ramirez (4.4),NaN
12,2006,FLA,NaN,NL East,162,78,84,0,.481,.492,4th of 5,19.0,NaN,758,772,"1,164,134",25.5,25.9,40,21,M.Cabrera (5.8),NaN
13,2005,FLA,NaN,NL East,162,83,79,0,.512,.491,3rd of 5,7.0,NaN,717,732,"1,852,608",29.7,29.5,47,27,D.Willis (8.3),NaN
14,2004,FLA,NaN,NL East,162,83,79,0,.512,.512,3rd of 5,13.0,NaN,718,700,"1,723,105",28.8,27.8,45,25,C.Pavano (5.8),NaN
15,2003,FLA,NaN,NL East,162,91,71,0,.562,.537,2nd of 5,10.0,NaN,751,692,"1,303,215",27.7,26.3,40,22,I.Rodriguez (4.5),NaN
16,2002,FLA,NaN,NL East,162,79,83,0,.488,.460,4th of 5,23.0,NaN,699,763,"813,118",28.4,26.1,41,21,A.Burnett (4.0),NaN
17,2001,FLA,NaN,NL East,162,76,86,0,.469,.499,4th of 5,12.0,NaN,742,744,"1,261,226",27.3,26.5,42,23,C.Floyd (6.6),NaN
18,2000,FLA,NaN,NL East,161,79,82,0,.491,.461,3rd of 5,15.5,NaN,731,797,"1,218,326",26.1,26.7,40,18,L.Castillo (4.5),NaN

In [34]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'HOU' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'HOU')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-HOU.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,HOU,NaN,AL West,162,101,61,0,.623,.611,1st of 5,--,NaN,896,700,"2,403,671",28.8,28.5,46,27,J.Altuve (8.3),NaN
2,2016,HOU,NaN,AL West,162,84,78,0,.519,.515,3rd of 5,11.0,NaN,724,701,"2,306,623",26.4,28.9,43,23,J.Altuve (7.7),NaN
3,2015,HOU,NaN,AL West,162,86,76,0,.531,.575,2nd of 5,2.0,NaN,729,618,"2,153,585",26.3,29.4,46,24,D.Keuchel (6.7),NaN
4,2014,HOU,NaN,AL West,162,70,92,0,.432,.437,4th of 5,28.0,NaN,629,723,"1,751,829",25.4,27.9,48,28,J.Altuve (6.1),NaN
5,2013,HOU,NaN,AL West,162,51,111,0,.315,.354,5th of 5,45.0,NaN,610,848,"1,651,883",25.9,27.2,50,26,J.Castro (4.1),NaN
6,2012,HOU,NaN,NL Central,162,55,107,0,.340,.362,6th of 6,42.0,NaN,583,794,"1,607,733",26.6,27.2,50,26,L.Harrell (3.1),NaN
7,2011,HOU,NaN,NL Central,162,56,106,0,.346,.384,6th of 6,40.0,NaN,615,796,"2,067,016",28.2,27.2,47,23,C.Lee (3.9),NaN
8,2010,HOU,NaN,NL Central,162,76,86,0,.469,.420,4th of 6,15.0,NaN,611,729,"2,331,490",29.5,29.6,48,25,M.Bourn (5.5),NaN
9,2009,HOU,NaN,NL Central,162,74,88,0,.457,.418,5th of 6,17.0,NaN,643,770,"2,521,076",31.6,31.2,42,22,M.Bourn (5.0),NaN
10,2008,HOU,NaN,NL Central,161,86,75,0,.534,.481,3rd of 6,11.0,NaN,712,743,"2,779,487",31.1,30.9,41,20,L.Berkman (6.9),NaN
11,2007,HOU,NaN,NL Central,162,73,89,0,.451,.447,4th of 6,12.0,NaN,723,813,"3,020,405",31.4,30.2,41,21,R.Oswalt (6.6),NaN
12,2006,HOU,NaN,NL Central,162,82,80,0,.506,.510,2nd of 6,1.5,NaN,735,719,"3,022,763",30.5,29.8,39,19,L.Berkman (6.0),NaN
13,2005,HOU,NaN,NL Central,163,89,73,1,.549,.559,2nd of 6,11.0,NaN,693,609,"2,804,760",30.3,30.3,36,17,R.Clemens (8.2),NaN
14,2004,HOU,NaN,NL Central,162,92,70,0,.568,.564,2nd of 6,13.0,NaN,803,698,"3,087,872",31.7,29.6,42,23,L.Berkman (6.0),NaN
15,2003,HOU,NaN,NL Central,162,87,75,0,.537,.579,2nd of 6,1.0,NaN,805,677,"2,454,241",31.1,27.6,44,23,R.Hidalgo (5.7),NaN
16,2002,HOU,NaN,NL Central,162,84,78,0,.519,.534,2nd of 6,13.0,NaN,749,695,"2,517,357",30.1,27.3,41,21,R.Oswalt (6.9),NaN
17,2001,HOU,NaN,NL Central,162,93,69,0,.574,.544,1st of 6,--,NaN,847,769,"2,904,277",30.3,28.4,45,25,L.Berkman (6.5),NaN
18,2000,HOU,NaN,NL Central,162,72,90,0,.444,.497,4th of 6,23.0,NaN,938,944,"3,056,139",29.1,28.0,46,23,R.Hidalgo (6.3),NaN

In [35]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'KCR' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'KCR')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-KCR.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,KCR,NaN,AL Central,162,80,82,0,.494,.446,3rd of 5,22.0,NaN,702,791,"2,220,370",28.9,30.3,49,29,L.Cain (5.3),NaN
2,2016,KCR,NaN,AL Central,162,81,81,0,.500,.476,3rd of 5,13.5,NaN,675,712,"2,557,712",28.5,29.9,42,21,I.Kennedy (3.9),NaN
3,2015,KCR,NaN,AL Central,162,95,67,0,.586,.555,1st of 5,--,NaN,724,641,"2,708,549",29.1,30.0,45,24,L.Cain (7.2),NaN
4,2014,KCR,NaN,AL Central,162,89,73,0,.549,.519,2nd of 5,1.0,NaN,651,624,"1,956,482",28.2,28.9,48,23,A.Gordon (6.5),NaN
5,2013,KCR,NaN,AL Central,162,86,76,0,.531,.534,3rd of 5,7.0,NaN,648,601,"1,750,754",26.9,28.9,43,21,J.Shields (4.4),NaN
6,2012,KCR,NaN,AL Central,162,72,90,0,.444,.455,3rd of 5,16.0,NaN,676,746,"1,739,859",26.1,27.3,46,25,A.Gordon (6.3),NaN
7,2011,KCR,NaN,AL Central,162,71,91,0,.438,.480,4th of 5,24.0,NaN,730,762,"1,724,450",25.8,26.4,42,23,A.Gordon (7.3),NaN
8,2010,KCR,NaN,AL Central,162,67,95,0,.414,.399,5th of 5,27.0,NaN,676,845,"1,615,327",28.9,27.5,46,25,J.Soria (3.7),NaN
9,2009,KCR,NaN,AL Central,162,65,97,0,.401,.407,4th of 5,21.5,NaN,686,842,"1,797,891",27.6,28.7,43,23,Z.Greinke (10.4),NaN
10,2008,KCR,NaN,AL Central,162,75,87,0,.463,.444,4th of 5,13.5,NaN,691,781,"1,578,922",28.0,27.6,43,25,Z.Greinke (5.3),NaN
11,2007,KCR,NaN,AL Central,162,69,93,0,.426,.456,5th of 5,27.0,NaN,706,778,"1,616,867",28.0,27.1,45,23,G.Meche (4.1),NaN
12,2006,KCR,NaN,AL Central,162,62,100,0,.383,.388,5th of 5,34.0,NaN,757,971,"1,372,638",29.7,27.7,55,31,M.Teahen (3.7),NaN
13,2005,KCR,NaN,AL Central,162,56,106,0,.346,.371,5th of 5,43.0,NaN,701,935,"1,371,181",28.1,25.7,46,22,D.DeJesus (4.4),NaN
14,2004,KCR,NaN,AL Central,162,58,104,0,.358,.397,5th of 5,34.0,NaN,720,905,"1,661,478",29.0,27.4,58,25,Z.Greinke (3.7),NaN
15,2003,KCR,NaN,AL Central,162,83,79,0,.512,.483,3rd of 5,7.0,NaN,836,867,"1,779,895",29.2,28.0,53,29,D.May (5.9),NaN
16,2002,KCR,NaN,AL Central,162,62,100,0,.383,.414,4th of 5,32.5,NaN,737,891,"1,323,036",29.3,27.8,52,26,P.Byrd (5.6),NaN
17,2001,KCR,NaN,AL Central,162,65,97,0,.401,.426,5th of 5,26.0,NaN,729,858,"1,536,371",28.2,27.3,44,19,C.Beltran (6.5),NaN
18,2000,KCR,NaN,AL Central,162,77,85,0,.475,.474,4th of 5,18.0,NaN,879,930,"1,564,847",27.6,25.8,44,24,J.Damon (6.2),NaN

In [36]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'LAA' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'LAA')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-LAA.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,LAA,NaN,AL West,162,80,82,0,.494,.501,2nd of 5,21.0,NaN,710,709,"3,019,585",29.9,29.1,55,31,A.Simmons (7.1),NaN
2,2016,LAA,NaN,AL West,162,74,88,0,.457,.494,4th of 5,21.0,NaN,717,727,"3,016,142",28.5,28.4,53,30,M.Trout (10.5),NaN
3,2015,LAA,NaN,AL West,162,85,77,0,.525,.490,3rd of 5,3.0,NaN,661,675,"3,012,765",28.7,28.3,51,25,M.Trout (9.4),NaN
4,2014,LAA,NaN,AL West,162,98,64,0,.605,.593,1st of 5,--,NaN,773,630,"3,095,935",29.3,28.4,54,31,M.Trout (7.6),NaN
5,2013,LAA,NaN,AL West,162,78,84,0,.481,.498,3rd of 5,18.0,NaN,733,737,"3,019,505",27.8,29.1,49,26,M.Trout (9.0),NaN
6,2012,LAA,NaN,AL West,162,89,73,0,.549,.542,3rd of 4,5.0,NaN,767,699,"3,061,770",28.7,30.1,44,23,M.Trout (10.5),NaN
7,2011,LAA,NaN,AL West,162,86,76,0,.531,.524,2nd of 4,10.0,NaN,667,633,"3,166,321",28.9,28.4,43,21,J.Weaver (6.9),NaN
8,2010,LAA,NaN,AL West,162,80,82,0,.494,.486,3rd of 4,10.0,NaN,681,702,"3,250,814",29.7,28.3,46,21,J.Weaver (5.3),NaN
9,2009,LAA,NaN,AL West,162,97,65,0,.599,.568,1st of 4,--,NaN,883,761,"3,240,386",29.6,28.6,46,25,C.Figgins (7.7),NaN
10,2008,LAA,NaN,AL West,162,100,62,0,.617,.542,1st of 4,--,NaN,765,697,"3,336,747",29.0,27.6,41,19,E.Santana (5.0),NaN
11,2007,LAA,NaN,AL West,162,94,68,0,.580,.553,1st of 4,--,NaN,822,731,"3,365,632",28.6,28.4,42,18,J.Lackey (6.2),NaN
12,2006,LAA,NaN,AL West,162,89,73,0,.549,.521,2nd of 4,4.0,NaN,766,732,"3,406,790",28.8,27.9,40,18,J.Weaver (4.7),NaN
13,2005,LAA,NaN,AL West,162,95,67,0,.586,.576,1st of 4,--,NaN,761,643,"3,404,686",29.8,28.5,40,18,V.Guerrero (5.7),NaN
14,2004,LAA,NaN,AL West,162,92,70,0,.568,.559,1st of 4,--,NaN,836,734,"3,375,677",28.9,29.0,38,16,V.Guerrero (5.6),NaN
15,2003,LAA,NaN,AL West,162,77,85,0,.475,.496,3rd of 4,19.0,NaN,736,743,"3,061,094",29.1,29.0,43,19,G.Anderson (4.0),NaN
16,2002,LAA,NaN,AL West,162,99,63,0,.611,.625,2nd of 4,4.0,NaN,851,644,"2,305,547",28.3,30.2,40,18,D.Erstad (6.4),NaN
17,2001,LAA,NaN,AL West,162,75,87,0,.463,.475,3rd of 4,41.0,NaN,691,730,"2,000,919",27.9,28.9,38,18,T.Glaus (5.2),NaN
18,2000,LAA,NaN,AL West,162,82,80,0,.506,.497,3rd of 4,9.5,NaN,864,869,"2,066,982",27.6,28.9,45,25,D.Erstad (8.3),NaN

In [37]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'LAD' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'LAD')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-LAD.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,LAD,NaN,NL West,162,104,58,0,.642,.627,1st of 5,--,NaN,770,580,"3,765,856",27.9,29.7,52,26,J.Turner (5.8),NaN
2,2016,LAD,NaN,NL West,162,91,71,0,.562,.558,1st of 5,--,NaN,725,638,"3,703,312",28.9,28.9,55,31,C.Kershaw (6.1),NaN
3,2015,LAD,NaN,NL West,162,92,70,0,.568,.552,1st of 5,--,NaN,667,595,"3,764,815",29.5,28.1,55,31,Z.Greinke (9.7),NaN
4,2014,LAD,NaN,NL West,162,94,68,0,.580,.569,1st of 5,--,NaN,718,617,"3,782,337",29.3,29.9,49,25,C.Kershaw (8.2),NaN
5,2013,LAD,NaN,NL West,162,92,70,0,.568,.550,1st of 5,--,NaN,649,582,"3,743,527",30.6,28.1,49,27,C.Kershaw (8.5),NaN
6,2012,LAD,NaN,NL West,162,86,76,0,.531,.530,2nd of 5,8.0,NaN,637,597,"3,324,246",30.4,29.0,50,25,C.Kershaw (6.8),NaN
7,2011,LAD,NaN,NL West,161,82,79,0,.509,.523,3rd of 5,11.5,NaN,644,612,"2,935,139",29.8,28.6,48,21,M.Kemp (8.0),NaN
8,2010,LAD,NaN,NL West,162,80,82,0,.494,.483,4th of 5,12.0,NaN,667,692,"3,562,320",30.3,28.1,49,24,C.Kershaw (5.2),NaN
9,2009,LAD,NaN,NL West,162,95,67,0,.586,.610,1st of 5,--,NaN,780,611,"3,761,655",29.7,27.8,47,25,M.Kemp (4.9),NaN
10,2008,LAD,NaN,NL West,162,84,78,0,.519,.535,1st of 5,--,NaN,700,648,"3,730,553",28.5,29.5,46,22,D.Lowe (4.6),NaN
11,2007,LAD,NaN,NL West,162,82,80,0,.506,.505,4th of 5,8.0,NaN,735,727,"3,857,036",29.7,31.1,45,22,B.Penny (6.6),NaN
12,2006,LAD,NaN,NL West,162,88,74,0,.543,.540,2nd of 5,--,NaN,820,751,"3,758,545",29.9,30.4,50,22,D.Lowe (4.6),NaN
13,2005,LAD,NaN,NL West,162,71,91,0,.438,.456,4th of 5,11.0,NaN,685,755,"3,603,646",28.7,28.5,44,20,J.Kent (3.8),NaN
14,2004,LAD,NaN,NL West,162,93,69,0,.574,.549,1st of 5,--,NaN,761,684,"3,488,283",28.9,29.5,43,22,A.Beltre (9.6),NaN
15,2003,LAD,NaN,NL West,162,85,77,0,.525,.515,2nd of 5,15.5,NaN,574,556,"3,138,626",29.9,31.2,44,19,K.Brown (4.5),NaN
16,2002,LAD,NaN,NL West,162,92,70,0,.568,.547,3rd of 5,6.0,NaN,713,643,"3,131,255",30.0,31.0,41,19,S.Green (6.9),NaN
17,2001,LAD,NaN,NL West,162,86,76,0,.531,.509,3rd of 5,6.0,NaN,758,744,"3,017,143",30.2,30.5,41,21,S.Green (7.0),NaN
18,2000,LAD,NaN,NL West,162,86,76,0,.531,.541,2nd of 5,11.0,NaN,798,729,"2,880,242",29.6,29.5,46,21,K.Brown (6.7),NaN

In [38]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'MIA' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'MIA')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-MIA.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,MIA,NaN,NL East,162,77,85,0,.475,.475,2nd of 5,20.0,NaN,778,822,"1,583,014",28.3,28.7,43,24,G.Stanton (7.6),NaN
2,2016,MIA,NaN,NL East,161,79,82,0,.491,.482,3rd of 5,15.5,NaN,655,682,"1,712,417",28.3,28.0,53,31,C.Yelich (5.4),NaN
3,2015,MIA,NaN,NL East,162,71,91,0,.438,.454,3rd of 5,19.0,NaN,613,678,"1,752,235",27.9,27.3,51,29,D.Gordon (5.1),NaN
4,2014,MIA,NaN,NL East,162,77,85,0,.475,.480,4th of 5,19.0,NaN,645,674,"1,732,283",27.4,26.4,45,25,G.Stanton (6.5),NaN
5,2013,MIA,NaN,NL East,162,62,100,0,.383,.396,5th of 5,34.0,NaN,513,646,"1,586,322",27.7,26.0,53,26,J.Fernandez (6.7),NaN
6,2012,MIA,NaN,NL East,162,69,93,0,.426,.422,5th of 5,29.0,NaN,609,724,"2,219,444",28.3,28.8,45,21,G.Stanton (5.4),NaN
7,2011,MIA,NaN,NL East,162,72,90,0,.444,.447,5th of 5,30.0,NaN,625,702,"1,520,562",27.4,28.0,44,22,G.Stanton (4.1),NaN
8,2010,MIA,NaN,NL East,162,80,82,0,.494,.501,3rd of 5,17.0,NaN,719,717,"1,524,894",26.9,27.1,57,31,J.Johnson (6.6),NaN
9,2009,MIA,NaN,NL East,162,87,75,0,.537,.504,2nd of 5,6.0,NaN,772,766,"1,464,109",27.0,26.3,44,27,J.Johnson (7.4),NaN
10,2008,MIA,NaN,NL East,161,84,77,0,.522,.502,3rd of 5,7.5,NaN,770,767,"1,335,076",28.0,26.6,45,22,H.Ramirez (6.7),NaN
11,2007,MIA,NaN,NL East,162,71,91,0,.438,.445,5th of 5,18.0,NaN,790,891,"1,370,511",26.7,26.2,50,30,H.Ramirez (4.4),NaN
12,2006,MIA,NaN,NL East,162,78,84,0,.481,.492,4th of 5,19.0,NaN,758,772,"1,164,134",25.5,25.9,40,21,M.Cabrera (5.8),NaN
13,2005,MIA,NaN,NL East,162,83,79,0,.512,.491,3rd of 5,7.0,NaN,717,732,"1,852,608",29.7,29.5,47,27,D.Willis (8.3),NaN
14,2004,MIA,NaN,NL East,162,83,79,0,.512,.512,3rd of 5,13.0,NaN,718,700,"1,723,105",28.8,27.8,45,25,C.Pavano (5.8),NaN
15,2003,MIA,NaN,NL East,162,91,71,0,.562,.537,2nd of 5,10.0,NaN,751,692,"1,303,215",27.7,26.3,40,22,I.Rodriguez (4.5),NaN
16,2002,MIA,NaN,NL East,162,79,83,0,.488,.460,4th of 5,23.0,NaN,699,763,"813,118",28.4,26.1,41,21,A.Burnett (4.0),NaN
17,2001,MIA,NaN,NL East,162,76,86,0,.469,.499,4th of 5,12.0,NaN,742,744,"1,261,226",27.3,26.5,42,23,C.Floyd (6.6),NaN
18,2000,MIA,NaN,NL East,161,79,82,0,.491,.461,3rd of 5,15.5,NaN,731,797,"1,218,326",26.1,26.7,40,18,L.Castillo (4.5),NaN

In [39]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'MIL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'MIL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-MIL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,MIL,NaN,NL Central,162,86,76,0,.531,.522,2nd of 5,6.0,NaN,732,697,"2,627,705",27.4,28.3,50,30,C.Anderson (4.1),NaN
2,2016,MIL,NaN,NL Central,162,73,89,0,.451,.460,4th of 5,30.5,NaN,671,733,"2,314,614",27.5,28.1,50,27,R.Braun (4.4),NaN
3,2015,MIL,NaN,NL Central,162,68,94,0,.420,.446,4th of 5,32.0,NaN,655,737,"2,542,558",28.1,28.4,49,26,R.Braun (3.8),NaN
4,2014,MIL,NaN,NL Central,162,82,80,0,.506,.495,3rd of 5,8.0,NaN,650,657,"2,797,384",28.8,29.0,40,21,J.Lucroy (6.6),NaN
5,2013,MIL,NaN,NL Central,162,74,88,0,.457,.468,4th of 5,23.0,NaN,640,687,"2,531,105",27.9,28.8,40,21,C.Gomez (7.8),NaN
6,2012,MIL,NaN,NL Central,162,83,79,0,.512,.526,3rd of 6,14.0,NaN,776,733,"2,831,385",29.2,29.0,46,23,R.Braun (6.9),NaN
7,2011,MIL,NaN,NL Central,162,96,66,0,.593,.556,1st of 6,--,NaN,721,638,"3,071,373",28.9,29.3,48,22,R.Braun (7.7),NaN
8,2010,MIL,NaN,NL Central,162,77,85,0,.475,.468,3rd of 6,14.0,NaN,750,804,"2,776,531",27.8,29.2,43,25,R.Braun (5.7),NaN
9,2009,MIL,NaN,NL Central,162,80,82,0,.494,.481,3rd of 6,11.0,NaN,785,818,"3,037,451",29.3,30.0,45,23,P.Fielder (6.3),NaN
10,2008,MIL,NaN,NL Central,162,90,72,0,.556,.539,2nd of 6,7.5,NaN,750,689,"3,068,458",28.7,29.9,44,20,C.Sabathia (5.2),NaN
11,2007,MIL,NaN,NL Central,162,83,79,0,.512,.515,2nd of 6,2.0,NaN,801,776,"2,869,144",27.7,29.1,40,21,C.Hart (4.7),NaN
12,2006,MIL,NaN,NL Central,162,75,87,0,.463,.440,4th of 6,8.5,NaN,730,833,"2,335,643",28.8,28.3,49,27,B.Hall (5.8),NaN
13,2005,MIL,NaN,NL Central,162,81,81,0,.500,.519,3rd of 6,19.0,NaN,726,697,"2,211,023",28.4,28.0,39,19,G.Jenkins (4.6),NaN
14,2004,MIL,NaN,NL Central,161,67,94,0,.416,.420,6th of 6,37.5,NaN,634,757,"2,062,382",28.5,27.2,41,22,B.Sheets (7.3),NaN
15,2003,MIL,NaN,NL Central,162,68,94,0,.420,.409,6th of 6,20.0,NaN,714,873,"1,700,354",29.8,27.6,42,23,S.Podsednik (3.6),NaN
16,2002,MIL,NaN,NL Central,162,56,106,0,.346,.379,6th of 6,41.0,NaN,627,821,"1,969,153",29.9,26.8,49,25,J.Hernandez (4.5),NaN
17,2001,MIL,NaN,NL Central,162,68,94,0,.420,.461,4th of 6,25.0,NaN,740,806,"2,811,041",29.4,27.3,46,24,R.Belliard (3.5),NaN
18,2000,MIL,NaN,NL Central,163,73,89,1,.451,.450,3rd of 6,22.0,NaN,740,826,"1,573,621",28.8,27.4,46,24,J.D'Amico (4.8),NaN

In [40]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'MIN' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'MIN')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-MIN.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,MIN,NaN,AL Central,162,85,77,0,.525,.515,2nd of 5,17.0,NaN,815,788,"2,051,279",27.1,29.6,52,36,B.Buxton (5.2),NaN
2,2016,MIN,NaN,AL Central,162,59,103,0,.364,.406,5th of 5,35.5,NaN,722,889,"1,963,912",26.9,28.3,49,29,B.Dozier (6.3),NaN
3,2015,MIN,NaN,AL Central,162,83,79,0,.512,.497,2nd of 5,12.0,NaN,696,700,"2,220,054",28.3,29.1,44,24,K.Gibson (3.0),NaN
4,2014,MIN,NaN,AL Central,162,70,92,0,.432,.462,5th of 5,20.0,NaN,715,777,"2,250,606",27.5,29.2,48,23,B.Dozier (5.2),NaN
5,2013,MIN,NaN,AL Central,162,66,96,0,.407,.388,4th of 5,27.0,NaN,614,788,"2,477,644",28.3,28.3,44,23,J.Mauer (5.6),NaN
6,2012,MIN,NaN,AL Central,162,66,96,0,.407,.422,5th of 5,22.0,NaN,701,832,"2,776,354",28.9,27.8,47,25,D.Span (4.9),NaN
7,2011,MIN,NaN,AL Central,162,63,99,0,.389,.383,5th of 5,32.0,NaN,619,804,"3,168,116",27.5,28.5,45,24,S.Baker (4.3),NaN
8,2010,MIN,NaN,AL Central,162,94,68,0,.580,.569,1st of 5,--,NaN,781,671,"3,223,640",28.4,28.6,42,21,J.Mauer (5.9),NaN
9,2009,MIN,NaN,AL Central,163,87,76,0,.534,.530,1st of 5,--,NaN,817,765,"2,416,237",27.6,27.9,42,24,J.Mauer (7.8),NaN
10,2008,MIN,NaN,AL Central,163,88,75,0,.540,.549,2nd of 5,1.0,NaN,829,745,"2,302,431",26.2,27.5,40,19,J.Mauer (5.6),NaN
11,2007,MIN,NaN,AL Central,162,79,83,0,.488,.496,3rd of 5,17.0,NaN,718,725,"2,296,383",28.4,27.4,42,19,J.Santana (5.2),NaN
12,2006,MIN,NaN,AL Central,162,96,66,0,.593,.572,1st of 5,--,NaN,801,683,"2,285,018",28.3,26.9,39,17,J.Santana (7.6),NaN
13,2005,MIN,NaN,AL Central,162,83,79,0,.512,.518,3rd of 5,16.0,NaN,688,662,"2,034,243",27.6,27.9,37,15,J.Santana (7.2),NaN
14,2004,MIN,NaN,AL Central,162,92,70,0,.568,.540,1st of 5,--,NaN,780,715,"1,911,490",27.8,28.2,42,18,J.Santana (8.8),NaN
15,2003,MIN,NaN,AL Central,162,90,72,0,.556,.525,1st of 5,--,NaN,801,758,"1,946,011",27.2,29.7,42,20,A.Pierzynski (4.5),NaN
16,2002,MIN,NaN,AL Central,161,94,67,0,.584,.535,1st of 5,--,NaN,768,712,"1,924,473",26.6,28.8,42,19,J.Jones (5.4),NaN
17,2001,MIN,NaN,AL Central,162,85,77,0,.525,.503,2nd of 5,6.0,NaN,771,766,"1,782,929",26.2,27.4,42,21,J.Mays (6.6),NaN
18,2000,MIN,NaN,AL Central,162,69,93,0,.426,.426,5th of 5,26.0,NaN,748,880,"1,000,760",26.5,26.6,41,17,B.Radke (6.2),NaN

In [45]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'MON' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'MON')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-MON.csv', index=False, encoding='utf-8')
    return master_df

seasons()

AttributeError: 'NoneType' object has no attribute 'find_all'

In [46]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'NYM' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'NYM')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-NYM.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,NYM,NaN,NL East,162,70,92,0,.432,.427,4th of 5,27.0,NaN,735,863,"2,460,622",28.9,27.5,52,29,J.deGrom (4.8),NaN
2,2016,NYM,NaN,NL East,162,87,75,0,.537,.538,2nd of 5,8.0,NaN,671,617,"2,789,602",29.5,28.4,46,22,N.Syndergaard (5.8),NaN
3,2015,NYM,NaN,NL East,162,90,72,0,.556,.549,1st of 5,--,NaN,683,613,"2,569,753",28.6,28.2,49,26,J.deGrom (5.4),NaN
4,2014,NYM,NaN,NL East,162,79,83,0,.488,.508,2nd of 5,17.0,NaN,629,618,"2,148,808",28.4,28.9,45,22,J.Lagares (5.3),NaN
5,2013,NYM,NaN,NL East,162,74,88,0,.457,.454,3rd of 5,22.0,NaN,619,684,"2,135,657",28.3,29.1,53,29,D.Wright (5.9),NaN
6,2012,NYM,NaN,NL East,162,74,88,0,.457,.460,4th of 5,24.0,NaN,650,709,"2,242,803",27.9,30.3,49,28,D.Wright (7.1),NaN
7,2011,NYM,NaN,NL East,162,77,85,0,.475,.485,4th of 5,25.0,NaN,718,742,"2,352,596",28.0,30.0,46,23,J.Reyes (4.6),NaN
8,2010,NYM,NaN,NL East,162,79,83,0,.488,.503,4th of 5,18.0,NaN,656,652,"2,559,738",28.4,29.5,47,20,A.Pagan (5.3),NaN
9,2009,NYM,NaN,NL East,162,70,92,0,.432,.445,4th of 5,23.0,NaN,671,757,"3,168,571",29.5,29.2,53,24,A.Pagan (4.0),NaN
10,2008,NYM,NaN,NL East,162,89,73,0,.549,.551,2nd of 5,3.0,NaN,799,715,"4,042,045",30.1,29.0,50,24,J.Santana (7.1),NaN
11,2007,NYM,NaN,NL East,162,88,74,0,.543,.532,2nd of 5,1.0,NaN,804,750,"3,853,955",30.7,31.3,49,24,D.Wright (8.3),NaN
12,2006,NYM,NaN,NL East,162,97,65,0,.599,.560,1st of 5,--,NaN,834,731,"3,379,535",30.2,32.2,49,27,C.Beltran (8.2),NaN
13,2005,NYM,NaN,NL East,162,83,79,0,.512,.549,3rd of 5,7.0,NaN,722,648,"2,829,929",28.8,31.9,42,22,P.Martinez (6.5),NaN
14,2004,NYM,NaN,NL East,162,71,91,0,.438,.470,4th of 5,25.0,NaN,684,731,"2,318,951",29.8,32.5,52,26,A.Leiter (4.7),NaN
15,2003,NYM,NaN,NL East,161,66,95,0,.410,.427,5th of 5,34.5,NaN,642,754,"2,140,599",29.3,31.6,50,25,S.Trachsel (4.4),NaN
16,2002,NYM,NaN,NL East,161,75,86,0,.466,.491,5th of 5,26.5,NaN,690,703,"2,804,838",30.6,30.3,48,25,E.Alfonzo (5.0),NaN
17,2001,NYM,NaN,NL East,162,82,80,0,.506,.452,3rd of 5,6.0,NaN,642,713,"2,658,330",30.4,31.1,44,22,M.Piazza (4.5),NaN
18,2000,NYM,NaN,NL East,162,94,68,0,.580,.541,2nd of 5,1.0,NaN,807,738,"2,820,530",30.4,31.0,47,20,E.Alfonzo (6.4),NaN

In [47]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'NYY' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'NYY')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-NYY.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,NYY,NaN,AL East,162,91,71,0,.562,.618,2nd of 5,2.0,NaN,858,660,"3,154,938",28.6,27.8,51,25,A.Judge (8.1),NaN
2,2016,NYY,NaN,AL East,162,84,78,0,.519,.485,4th of 5,9.0,NaN,680,702,"3,063,405",30.1,27.9,53,29,M.Tanaka (5.2),NaN
3,2015,NYY,NaN,AL East,162,87,75,0,.537,.541,2nd of 5,6.0,NaN,764,698,"3,193,795",31.4,27.4,56,33,D.Betances (4.0),NaN
4,2014,NYY,NaN,AL East,162,84,78,0,.519,.478,2nd of 5,12.0,NaN,633,664,"3,401,624",32.8,29.3,58,33,B.Gardner (3.9),NaN
5,2013,NYY,NaN,AL East,162,85,77,0,.525,.485,3rd of 5,12.0,NaN,650,671,"3,279,589",31.9,31.8,56,24,R.Cano (7.8),NaN
6,2012,NYY,NaN,AL East,162,95,67,0,.586,.584,1st of 5,--,NaN,804,668,"3,542,406",32.9,30.3,45,24,R.Cano (8.4),NaN
7,2011,NYY,NaN,AL East,162,97,65,0,.599,.624,1st of 5,--,NaN,867,657,"3,653,680",30.6,31.0,48,28,C.Sabathia (6.4),NaN
8,2010,NYY,NaN,AL East,162,95,67,0,.586,.597,2nd of 5,1.0,NaN,859,693,"3,765,807",30.3,30.3,43,21,R.Cano (8.1),NaN
9,2009,NYY,NaN,AL East,162,103,59,0,.636,.588,1st of 5,--,NaN,915,753,"3,719,358",30.6,29.3,45,24,D.Jeter (6.6),NaN
10,2008,NYY,NaN,AL East,162,89,73,0,.549,.537,3rd of 5,8.0,NaN,789,727,"4,298,655",31.4,30.6,51,27,A.Rodriguez (6.8),NaN
11,2007,NYY,NaN,AL East,162,94,68,0,.580,.599,2nd of 5,2.0,NaN,968,777,"4,271,083",30.7,31.4,49,28,A.Rodriguez (9.4),NaN
12,2006,NYY,NaN,AL East,162,97,65,0,.599,.587,1st of 5,--,NaN,930,767,"4,248,067",30.9,32.5,49,25,C.Wang (6.0),NaN
13,2005,NYY,NaN,AL East,162,95,67,0,.586,.553,1st of 5,--,NaN,886,789,"4,090,696",32.3,34.2,51,28,A.Rodriguez (9.4),NaN
14,2004,NYY,NaN,AL East,162,101,61,0,.623,.548,1st of 5,--,NaN,897,808,"3,775,292",32.2,32.9,43,23,A.Rodriguez (7.6),NaN
15,2003,NYY,NaN,AL East,163,101,61,1,.623,.592,1st of 5,--,NaN,877,716,"3,465,600",30.3,33.7,49,23,M.Mussina (6.6),NaN
16,2002,NYY,NaN,AL East,161,103,58,0,.640,.613,1st of 5,--,NaN,897,697,"3,465,807",29.9,33.1,38,17,J.Giambi (7.1),NaN
17,2001,NYY,NaN,AL East,161,95,65,1,.594,.555,1st of 5,--,NaN,804,713,"3,264,907",31.2,30.9,47,20,M.Mussina (7.1),NaN
18,2000,NYY,NaN,AL East,161,87,74,0,.540,.531,1st of 5,--,NaN,871,814,"3,055,435",31.3,32.0,46,22,J.Posada (5.5),NaN

In [48]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'OAK' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'OAK')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-OAK.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,OAK,NaN,AL West,162,75,87,0,.463,.449,5th of 5,26.0,NaN,739,826,"1,475,721",28.7,27.9,54,28,J.Lowrie (4.0),NaN
2,2016,OAK,NaN,AL West,162,69,93,0,.426,.430,5th of 5,26.0,NaN,653,761,"1,521,506",28.7,27.9,51,27,K.Graveman (3.4),NaN
3,2015,OAK,NaN,AL West,162,68,94,0,.420,.478,5th of 5,20.0,NaN,694,729,"1,768,175",27.9,27.8,52,30,S.Gray (5.3),NaN
4,2014,OAK,NaN,AL West,162,88,74,0,.543,.609,2nd of 5,10.0,NaN,729,572,"2,003,628",29.6,28.2,45,23,J.Donaldson (7.5),NaN
5,2013,OAK,NaN,AL West,162,96,66,0,.593,.593,1st of 5,--,NaN,767,625,"1,809,302",28.3,28.3,44,19,J.Donaldson (7.7),NaN
6,2012,OAK,NaN,AL West,162,94,68,0,.580,.568,1st of 4,--,NaN,713,614,"1,679,013",27.7,27.9,50,25,J.Reddick (4.6),NaN
7,2011,OAK,NaN,AL West,162,74,88,0,.457,.477,3rd of 4,22.0,NaN,645,679,"1,476,791",29.1,27.4,48,26,G.Gonzalez (4.4),NaN
8,2010,OAK,NaN,AL West,162,81,81,0,.500,.526,2nd of 4,9.0,NaN,663,626,"1,418,391",27.8,26.0,49,23,D.Barton (5.5),NaN
9,2009,OAK,NaN,AL West,162,75,87,0,.463,.499,4th of 4,22.0,NaN,759,761,"1,408,783",29.1,25.7,51,26,A.Bailey (3.7),NaN
10,2008,OAK,NaN,AL West,161,75,86,0,.466,.470,3rd of 4,24.5,NaN,646,690,"1,665,256",27.2,26.5,51,24,M.Ellis (4.0),NaN
11,2007,OAK,NaN,AL West,162,76,86,0,.469,.490,3rd of 4,18.0,NaN,741,758,"1,921,844",28.9,26.9,54,24,M.Ellis (4.8),NaN
12,2006,OAK,NaN,AL West,162,93,69,0,.574,.527,1st of 4,--,NaN,771,727,"1,976,625",29.7,27.0,40,21,B.Zito (4.4),NaN
13,2005,OAK,NaN,AL West,162,88,74,0,.543,.573,2nd of 4,7.0,NaN,772,658,"2,109,118",28.6,26.6,41,20,E.Chavez (4.8),NaN
14,2004,OAK,NaN,AL West,162,91,71,0,.562,.530,2nd of 4,1.0,NaN,793,742,"2,201,516",29.6,28.4,36,18,E.Chavez (5.5),NaN
15,2003,OAK,NaN,AL West,162,96,66,0,.593,.581,1st of 4,--,NaN,768,643,"2,216,596",28.3,27.4,41,18,T.Hudson (7.5),NaN
16,2002,OAK,NaN,AL West,162,103,59,0,.636,.591,1st of 4,--,NaN,800,654,"2,169,811",28.6,27.4,41,17,B.Zito (7.1),NaN
17,2001,OAK,NaN,AL West,162,102,60,0,.630,.640,2nd of 4,14.0,NaN,884,645,"2,133,277",27.3,28.0,42,16,J.Giambi (9.2),NaN
18,2000,OAK,NaN,AL West,161,91,70,0,.565,.569,1st of 4,--,NaN,947,813,"1,603,744",27.3,29.5,44,21,J.Giambi (7.8),NaN

In [49]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'PHI' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'PHI')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-PHI.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,PHI,NaN,NL East,162,66,96,0,.407,.443,5th of 5,31.0,NaN,690,782,"1,905,354",26.6,26.8,51,31,A.Nola (4.2),NaN
2,2016,PHI,NaN,NL East,162,71,91,0,.438,.381,4th of 5,24.0,NaN,610,796,"1,915,144",26.9,26.3,49,27,O.Herrera (4.2),NaN
3,2015,PHI,NaN,NL East,162,63,99,0,.389,.385,5th of 5,27.0,NaN,626,809,"1,831,080",28.0,28.5,50,30,O.Herrera (4.0),NaN
4,2014,PHI,NaN,NL East,162,73,89,0,.451,.452,5th of 5,23.0,NaN,619,687,"2,423,852",30.8,30.1,49,26,C.Hamels (6.9),NaN
5,2013,PHI,NaN,NL East,162,73,89,0,.451,.407,4th of 5,23.0,NaN,610,749,"3,012,403",30.0,28.7,51,27,C.Lee (7.0),NaN
6,2012,PHI,NaN,NL East,162,81,81,0,.500,.503,3rd of 5,17.0,NaN,684,680,"3,565,718",31.1,29.1,49,24,C.Hamels (5.1),NaN
7,2011,PHI,NaN,NL East,162,102,60,0,.630,.633,1st of 5,--,NaN,713,529,"3,680,718",31.4,29.2,42,23,C.Lee (8.9),NaN
8,2010,PHI,NaN,NL East,162,97,65,0,.599,.585,1st of 5,--,NaN,772,640,"3,777,322",31.8,31.1,42,21,R.Halladay (8.3),NaN
9,2009,PHI,NaN,NL East,162,93,69,0,.574,.566,1st of 5,--,NaN,820,709,"3,600,693",31.3,31.2,41,22,C.Utley (8.2),NaN
10,2008,PHI,NaN,NL East,162,92,70,0,.568,.573,1st of 5,--,NaN,799,680,"3,422,583",30.1,30.6,40,18,C.Utley (9.0),NaN
11,2007,PHI,NaN,NL East,162,89,73,0,.549,.538,1st of 5,--,NaN,892,821,"3,108,325",28.8,30.6,46,28,C.Utley (7.8),NaN
12,2006,PHI,NaN,NL East,162,85,77,0,.525,.529,2nd of 5,12.0,NaN,865,812,"2,701,815",29.3,30.5,45,23,C.Utley (7.3),NaN
13,2005,PHI,NaN,NL East,162,88,74,0,.543,.548,2nd of 5,2.0,NaN,807,726,"2,665,304",30.0,29.7,40,19,C.Utley (7.3),NaN
14,2004,PHI,NaN,NL East,162,86,76,0,.531,.533,2nd of 5,10.0,NaN,840,781,"3,250,092",29.3,29.8,39,21,B.Abreu (6.6),NaN
15,2003,PHI,NaN,NL East,162,86,76,0,.531,.558,3rd of 5,15.0,NaN,791,697,"2,259,948",28.3,29.0,38,20,B.Abreu (5.4),NaN
16,2002,PHI,NaN,NL East,161,80,81,0,.497,.491,3rd of 5,21.5,NaN,710,724,"1,618,467",27.5,28.5,39,20,B.Abreu (5.8),NaN
17,2001,PHI,NaN,NL East,162,86,76,0,.531,.517,2nd of 5,2.0,NaN,746,719,"1,782,054",26.9,28.9,46,22,S.Rolen (5.6),NaN
18,2000,PHI,NaN,NL East,162,65,97,0,.401,.428,5th of 5,30.0,NaN,708,830,"1,612,769",28.5,28.7,51,27,B.Abreu (6.2),NaN

In [50]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'PIT' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'PIT')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-PIT.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,PIT,NaN,NL Central,162,75,87,0,.463,.459,4th of 5,17.0,NaN,668,731,"1,919,447",28.2,27.1,47,24,J.Harrison (3.3),NaN
2,2016,PIT,NaN,NL Central,162,78,83,1,.484,.482,3rd of 5,25.0,NaN,729,758,"2,249,201",28.9,28.6,55,32,S.Marte (4.9),NaN
3,2015,PIT,NaN,NL Central,162,98,64,0,.605,.571,2nd of 5,2.0,NaN,697,596,"2,498,596",28.2,29.6,46,21,S.Marte (5.3),NaN
4,2014,PIT,NaN,NL Central,162,88,74,0,.543,.535,2nd of 5,2.0,NaN,682,631,"2,442,564",27.3,28.1,45,23,A.McCutchen (6.1),NaN
5,2013,PIT,NaN,NL Central,162,94,68,0,.580,.543,2nd of 5,3.0,NaN,634,577,"2,256,862",27.9,28.7,49,29,A.McCutchen (7.9),NaN
6,2012,PIT,NaN,NL Central,162,79,83,0,.488,.484,4th of 6,18.0,NaN,651,674,"2,091,918",27.6,30.2,49,25,A.McCutchen (6.9),NaN
7,2011,PIT,NaN,NL Central,162,72,90,0,.444,.430,4th of 6,24.0,NaN,610,712,"1,940,429",27.2,28.1,52,25,A.McCutchen (5.4),NaN
8,2010,PIT,NaN,NL Central,162,57,105,0,.352,.329,6th of 6,34.0,NaN,587,866,"1,613,399",26.5,28.6,52,28,A.McCutchen (3.8),NaN
9,2009,PIT,NaN,NL Central,161,62,99,0,.385,.415,6th of 6,28.5,NaN,636,768,"1,577,853",27.0,26.3,49,26,G.Jones (3.3),NaN
10,2008,PIT,NaN,NL Central,162,67,95,0,.414,.416,6th of 6,30.5,NaN,735,884,"1,609,076",28.4,26.5,47,26,P.Maholm (3.8),NaN
11,2007,PIT,NaN,NL Central,162,68,94,0,.420,.429,6th of 6,17.0,NaN,724,846,"1,749,142",27.2,27.1,46,25,J.Wilson (3.6),NaN
12,2006,PIT,NaN,NL Central,162,67,95,0,.414,.435,5th of 6,16.5,NaN,691,797,"1,861,549",27.8,27.0,42,22,F.Sanchez (4.4),NaN
13,2005,PIT,NaN,NL Central,162,67,95,0,.414,.444,6th of 6,33.0,NaN,680,769,"1,817,245",27.4,28.7,44,19,J.Bay (5.7),NaN
14,2004,PIT,NaN,NL Central,161,72,89,0,.447,.459,5th of 6,32.5,NaN,680,744,"1,580,031",27.2,27.7,43,22,O.Perez (5.9),NaN
15,2003,PIT,NaN,NL Central,162,75,87,0,.463,.472,4th of 6,13.0,NaN,753,801,"1,636,751",29.7,28.3,46,23,K.Wells (5.0),NaN
16,2002,PIT,NaN,NL Central,161,72,89,0,.447,.441,4th of 6,24.5,NaN,641,730,"1,784,988",27.9,28.1,38,19,B.Giles (5.4),NaN
17,2001,PIT,NaN,NL Central,162,62,100,0,.383,.380,6th of 6,31.0,NaN,657,858,"2,464,870",27.8,28.1,49,22,B.Giles (5.3),NaN
18,2000,PIT,NaN,NL Central,162,69,93,0,.426,.448,5th of 6,26.0,NaN,793,888,"1,748,908",28.3,27.1,46,24,B.Giles (6.4),NaN

In [51]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'SDP' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'SDP')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-SDP.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,SDP,NaN,NL West,162,71,91,0,.438,.366,4th of 5,33.0,NaN,604,816,"2,138,491",26.2,27.7,52,32,B.Hand (2.9),NaN
2,2016,SDP,NaN,NL West,162,68,94,0,.420,.447,5th of 5,23.0,NaN,686,770,"2,351,422",28.1,28.1,58,32,W.Myers (3.5),NaN
3,2015,SDP,NaN,NL West,162,74,88,0,.457,.446,4th of 5,18.0,NaN,650,731,"2,459,752",27.6,29.1,46,26,J.Upton (4.3),NaN
4,2014,SDP,NaN,NL West,162,77,85,0,.475,.465,3rd of 5,17.0,NaN,535,577,"2,195,373",27.9,28.8,51,24,S.Smith (3.4),NaN
5,2013,SDP,NaN,NL West,162,76,86,0,.469,.443,3rd of 5,16.0,NaN,618,700,"2,166,691",28.1,28.8,47,23,C.Denorfia (4.1),NaN
6,2012,SDP,NaN,NL West,162,76,86,0,.469,.460,4th of 5,18.0,NaN,651,710,"2,123,721",27.4,28.0,53,30,C.Headley (6.4),NaN
7,2011,SDP,NaN,NL West,162,71,91,0,.438,.486,5th of 5,23.0,NaN,593,611,"2,143,018",28.0,28.1,48,22,C.Maybin (4.4),NaN
8,2010,SDP,NaN,NL West,162,90,72,0,.556,.561,2nd of 5,2.0,NaN,665,581,"2,131,774",29.1,27.2,40,19,A.Gonzalez (4.4),NaN
9,2009,SDP,NaN,NL West,162,75,87,0,.463,.415,4th of 5,20.0,NaN,638,769,"1,919,603",28.0,26.8,56,33,A.Gonzalez (6.9),NaN
10,2008,SDP,NaN,NL West,162,63,99,0,.389,.418,5th of 5,21.0,NaN,637,764,"2,427,535",28.9,30.2,59,32,B.Giles (4.8),NaN
11,2007,SDP,NaN,NL West,163,89,74,0,.546,.549,3rd of 5,1.5,NaN,741,666,"2,790,074",29.9,31.5,49,21,J.Peavy (6.8),NaN
12,2006,SDP,NaN,NL West,162,88,74,0,.543,.534,1st of 5,--,NaN,731,679,"2,659,757",30.7,30.6,46,22,M.Cameron (4.4),NaN
13,2005,SDP,NaN,NL West,162,82,80,0,.506,.473,1st of 5,--,NaN,684,726,"2,869,787",31.1,31.0,46,23,B.Giles (4.9),NaN
14,2004,SDP,NaN,NL West,162,87,75,0,.537,.539,3rd of 5,6.0,NaN,768,705,"3,016,752",29.6,30.0,47,24,M.Loretta (6.0),NaN
15,2003,SDP,NaN,NL West,162,64,98,0,.395,.408,5th of 5,36.5,NaN,678,831,"2,030,084",28.5,27.8,51,27,M.Loretta (4.9),NaN
16,2002,SDP,NaN,NL West,162,66,96,0,.407,.406,5th of 5,32.0,NaN,662,815,"2,220,601",29.1,27.8,59,37,R.Klesko (4.2),NaN
17,2001,SDP,NaN,NL West,162,79,83,0,.488,.487,4th of 5,13.0,NaN,789,812,"2,378,128",28.9,28.7,48,25,P.Nevin (5.8),NaN
18,2000,SDP,NaN,NL West,162,76,86,0,.469,.463,5th of 5,21.0,NaN,752,815,"2,352,443",28.6,27.5,56,29,P.Nevin (4.1),NaN

In [52]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'SEA' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'SEA')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-SEA.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,SEA,NaN,AL West,162,78,84,0,.481,.487,3rd of 5,23.0,NaN,750,772,"2,135,445",29.6,27.8,61,40,N.Cruz (4.1),NaN
2,2016,SEA,NaN,AL West,162,86,76,0,.531,.538,2nd of 5,9.0,NaN,768,707,"2,267,928",30.5,28.8,54,32,R.Cano (7.3),NaN
3,2015,SEA,NaN,AL West,162,76,86,0,.469,.454,4th of 5,12.0,NaN,656,726,"2,193,581",28.6,28.6,51,28,N.Cruz (5.1),NaN
4,2014,SEA,NaN,AL West,162,87,75,0,.537,.561,3rd of 5,11.0,NaN,634,554,"2,064,334",27.5,29.0,44,20,R.Cano (6.4),NaN
5,2013,SEA,NaN,AL West,162,71,91,0,.438,.414,4th of 5,25.0,NaN,624,754,"1,761,546",28.6,28.0,47,22,H.Iwakuma (7.2),NaN
6,2012,SEA,NaN,AL West,162,75,87,0,.463,.477,4th of 4,19.0,NaN,619,651,"1,721,920",27.0,27.9,38,18,F.Hernandez (5.3),NaN
7,2011,SEA,NaN,AL West,162,67,95,0,.414,.412,4th of 4,29.0,NaN,556,675,"1,896,321",29.3,26.8,47,21,B.Ryan (4.2),NaN
8,2010,SEA,NaN,AL West,162,61,101,0,.377,.363,4th of 4,29.0,NaN,513,698,"2,085,630",29.6,27.1,47,22,F.Hernandez (7.1),NaN
9,2009,SEA,NaN,AL West,162,85,77,0,.525,.464,3rd of 4,12.0,NaN,640,692,"2,195,533",29.9,27.4,46,20,F.Gutierrez (6.6),NaN
10,2008,SEA,NaN,AL West,162,61,101,0,.377,.414,4th of 4,39.0,NaN,671,811,"2,329,702",29.7,28.5,44,22,A.Beltre (5.6),NaN
11,2007,SEA,NaN,AL West,162,88,74,0,.543,.489,2nd of 4,6.0,NaN,794,813,"2,672,223",29.9,28.1,44,23,I.Suzuki (5.8),NaN
12,2006,SEA,NaN,AL West,162,78,84,0,.481,.479,4th of 4,15.0,NaN,756,792,"2,481,165",28.7,28.0,49,25,A.Beltre (5.4),NaN
13,2005,SEA,NaN,AL West,162,69,93,0,.426,.467,4th of 4,26.0,NaN,699,751,"2,725,459",28.7,31.4,48,21,I.Suzuki (3.9),NaN
14,2004,SEA,NaN,AL West,162,63,99,0,.389,.425,4th of 4,29.0,NaN,698,823,"2,940,731",31.6,30.4,48,23,I.Suzuki (9.2),NaN
15,2003,SEA,NaN,AL West,162,93,69,0,.574,.600,2nd of 4,3.0,NaN,795,637,"3,268,509",32.0,29.8,37,18,B.Boone (5.9),NaN
16,2002,SEA,NaN,AL West,162,93,69,0,.574,.569,3rd of 4,10.0,NaN,814,699,"3,542,938",31.2,30.2,40,19,J.Moyer (5.6),NaN
17,2001,SEA,NaN,AL West,162,116,46,0,.716,.672,1st of 4,--,NaN,927,627,"3,507,326",31.4,30.8,35,15,B.Boone (8.8),NaN
18,2000,SEA,NaN,AL West,162,91,71,0,.562,.569,2nd of 4,0.5,NaN,907,780,"2,914,624",31.4,29.3,37,16,A.Rodriguez (10.4),NaN

In [53]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'SFG' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'SFG')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-SFG.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,SFG,NaN,NL West,162,64,98,0,.395,.412,5th of 5,40.0,NaN,639,776,"3,303,652",29.5,28.9,49,22,B.Posey (4.1),NaN
2,2016,SFG,NaN,NL West,162,87,75,0,.537,.557,2nd of 5,4.0,NaN,715,631,"3,365,256",29.1,30.0,45,25,M.Bumgarner (5.7),NaN
3,2015,SFG,NaN,NL West,162,84,78,0,.519,.548,2nd of 5,8.0,NaN,696,627,"3,375,882",28.9,31.5,48,21,M.Bumgarner (6.1),NaN
4,2014,SFG,NaN,NL West,162,88,74,0,.543,.536,2nd of 5,6.0,NaN,665,614,"3,368,697",28.6,31.7,46,21,B.Posey (5.4),NaN
5,2013,SFG,NaN,NL West,162,76,86,0,.469,.457,3rd of 5,16.0,NaN,629,691,"3,369,106",28.7,29.6,44,21,B.Posey (5.3),NaN
6,2012,SFG,NaN,NL West,162,94,68,0,.580,.546,1st of 5,--,NaN,718,649,"3,377,371",27.8,30.0,45,23,B.Posey (7.6),NaN
7,2011,SFG,NaN,NL West,162,86,76,0,.531,.494,2nd of 5,8.0,NaN,570,578,"3,387,303",30.2,28.5,44,17,P.Sandoval (6.0),NaN
8,2010,SFG,NaN,NL West,162,92,70,0,.568,.581,1st of 5,--,NaN,697,583,"3,037,443",29.6,27.9,42,19,A.Huff (5.7),NaN
9,2009,SFG,NaN,NL West,162,88,74,0,.543,.533,3rd of 5,7.0,NaN,657,611,"2,862,110",29.0,28.7,44,21,T.Lincecum (7.4),NaN
10,2008,SFG,NaN,NL West,162,72,90,0,.444,.423,4th of 5,12.0,NaN,640,759,"2,863,837",29.6,27.1,49,20,T.Lincecum (8.0),NaN
11,2007,SFG,NaN,NL West,162,71,91,0,.438,.476,5th of 5,19.0,NaN,683,720,"3,223,215",32.7,27.3,44,22,M.Cain (4.3),NaN
12,2006,SFG,NaN,NL West,161,76,85,0,.472,.474,3rd of 5,11.5,NaN,746,790,"3,130,313",33.7,28.7,44,21,B.Bonds (4.0),NaN
13,2005,SFG,NaN,NL West,162,75,87,0,.463,.437,3rd of 5,7.0,NaN,649,745,"3,181,023",32.2,30.0,50,24,N.Lowry (4.8),NaN
14,2004,SFG,NaN,NL West,162,91,71,0,.562,.545,2nd of 5,2.0,NaN,850,770,"3,256,854",31.6,30.1,43,22,B.Bonds (10.6),NaN
15,2003,SFG,NaN,NL West,161,100,61,0,.621,.576,1st of 5,--,NaN,755,638,"3,264,898",32.1,28.6,46,21,B.Bonds (9.2),NaN
16,2002,SFG,NaN,NL West,162,95,66,1,.590,.608,2nd of 5,2.5,NaN,783,616,"3,253,203",32.1,29.2,38,17,B.Bonds (11.8),NaN
17,2001,SFG,NaN,NL West,162,90,72,0,.556,.530,2nd of 5,2.0,NaN,799,748,"3,311,958",31.5,29.2,41,18,B.Bonds (11.9),NaN
18,2000,SFG,NaN,NL West,162,97,65,0,.599,.597,1st of 5,--,NaN,925,747,"3,318,800",29.9,28.5,36,17,B.Bonds (7.7),NaN

In [54]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'STL' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'STL')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-STL.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,STL,NaN,NL Central,162,83,79,0,.512,.535,3rd of 5,9.0,NaN,761,705,"3,448,337",28.0,28.3,48,25,T.Pham (6.2),NaN
2,2016,STL,NaN,NL Central,162,86,76,0,.531,.541,2nd of 5,17.5,NaN,779,712,"3,444,490",28.5,28.0,41,21,C.Martinez (5.8),NaN
3,2015,STL,NaN,NL Central,162,100,62,0,.617,.594,1st of 5,--,NaN,647,525,"3,520,889",28.4,28.2,46,23,J.Heyward (6.6),NaN
4,2014,STL,NaN,NL Central,162,90,72,0,.556,.512,1st of 5,--,NaN,619,603,"3,540,649",28.6,27.2,46,24,A.Wainwright (6.4),NaN
5,2013,STL,NaN,NL Central,162,97,65,0,.599,.622,1st of 5,--,NaN,783,596,"3,369,769",28.7,26.9,44,25,M.Carpenter (6.5),NaN
6,2012,STL,NaN,NL Central,162,88,74,0,.543,.575,2nd of 6,9.0,NaN,765,648,"3,262,109",29.2,28.6,45,24,Y.Molina (7.2),NaN
7,2011,STL,NaN,NL Central,162,90,72,0,.556,.544,2nd of 6,6.0,NaN,762,692,"3,093,954",29.3,30.2,46,24,A.Pujols (5.3),NaN
8,2010,STL,NaN,NL Central,162,86,76,0,.531,.563,2nd of 6,5.0,NaN,736,641,"3,301,218",28.8,30.2,42,22,A.Pujols (7.5),NaN
9,2009,STL,NaN,NL Central,162,91,71,0,.562,.560,1st of 6,--,NaN,730,640,"3,343,252",28.5,30.1,42,20,A.Pujols (9.7),NaN
10,2008,STL,NaN,NL Central,162,86,76,0,.531,.533,4th of 6,11.5,NaN,779,725,"3,432,917",28.8,30.2,43,24,A.Pujols (9.2),NaN
11,2007,STL,NaN,NL Central,162,78,84,0,.481,.439,3rd of 6,7.0,NaN,725,829,"3,552,180",30.2,29.6,45,25,A.Pujols (8.7),NaN
12,2006,STL,NaN,NL Central,161,83,78,0,.516,.511,1st of 6,--,NaN,781,762,"3,407,104",29.6,28.6,41,19,A.Pujols (8.5),NaN
13,2005,STL,NaN,NL Central,162,100,62,0,.617,.608,1st of 6,--,NaN,805,634,"3,538,988",30.8,29.7,40,20,A.Pujols (8.4),NaN
14,2004,STL,NaN,NL Central,162,105,57,0,.648,.617,1st of 6,--,NaN,855,659,"3,048,427",30.6,30.1,37,20,S.Rolen (9.2),NaN
15,2003,STL,NaN,NL Central,162,85,77,0,.525,.544,3rd of 6,3.0,NaN,876,796,"2,910,386",29.9,31.2,42,24,A.Pujols (8.7),NaN
16,2002,STL,NaN,NL Central,162,97,65,0,.599,.588,1st of 6,--,NaN,787,648,"3,011,756",28.9,30.2,44,26,J.Edmonds (6.7),NaN
17,2001,STL,NaN,NL Central,162,93,69,0,.574,.579,2nd of 6,--,NaN,814,684,"3,109,578",28.8,29.3,40,22,A.Pujols (6.6),NaN
18,2000,STL,NaN,NL Central,162,95,67,0,.586,.564,1st of 6,--,NaN,887,771,"3,336,493",29.7,29.3,46,24,J.Edmonds (6.3),NaN

In [56]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'TBD' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'TBD')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
#     for col in ['team_name', 'playoffs', 'managers']:
#         master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-TBD.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,TBD,NaN,AL East,162,80,82,0,.494,.493,3rd of 5,13.0,NaN,694,704,"1,253,619",28.3,27.6,53,31,K.Kiermaier (5.1),NaN
2,2016,TBD,NaN,AL East,162,68,94,0,.420,.473,5th of 5,25.0,NaN,672,713,"1,286,163",27.7,26.9,48,25,K.Kiermaier (5.5),NaN
3,2015,TBD,NaN,AL East,162,80,82,0,.494,.501,4th of 5,13.0,NaN,644,642,"1,287,054",28.5,26.7,51,27,K.Kiermaier (7.5),NaN
4,2014,TBD,NaN,AL East,162,77,85,0,.475,.490,4th of 5,19.0,NaN,612,625,"1,446,464",29.3,28.4,43,23,B.Zobrist (5.0),NaN
5,2013,TBD,NaN,AL East,163,92,71,0,.564,.537,2nd of 5,5.5,NaN,700,646,"1,510,300",29.5,29.0,42,21,E.Longoria (6.2),NaN
6,2012,TBD,NaN,AL East,162,90,72,0,.556,.586,3rd of 5,5.0,NaN,697,577,"1,559,681",29.7,28.1,43,18,D.Price (6.6),NaN
7,2011,TBD,NaN,AL East,162,91,71,0,.562,.564,2nd of 5,6.0,NaN,707,614,"1,529,188",28.2,27.8,42,21,B.Zobrist (7.6),NaN
8,2010,TBD,NaN,AL East,162,96,66,0,.593,.596,1st of 5,--,NaN,802,649,"1,864,999",27.5,28.0,37,17,E.Longoria (8.2),NaN
9,2009,TBD,NaN,AL East,162,84,78,0,.519,.529,3rd of 5,19.0,NaN,803,754,"1,874,962",27.8,28.4,41,21,B.Zobrist (8.6),NaN
10,2008,TBD,NaN,AL East,162,97,65,0,.599,.565,1st of 5,--,NaN,774,671,"1,811,986",27.0,27.5,46,21,C.Pena (5.1),NaN
11,2007,TBD,NaN,AL East,162,66,96,0,.407,.415,5th of 5,30.0,NaN,782,944,"1,387,603",25.9,27.0,45,24,C.Pena (7.2),NaN
12,2006,TBD,NaN,AL East,162,61,101,0,.377,.402,5th of 5,36.0,NaN,689,856,"1,368,950",27.3,27.0,49,25,C.Crawford (4.5),NaN
13,2005,TBD,NaN,AL East,162,67,95,0,.414,.400,5th of 5,28.0,NaN,750,936,"1,141,669",27.5,27.4,43,21,J.Lugo (4.4),NaN
14,2004,TBD,NaN,AL East,161,70,91,0,.435,.425,4th of 5,30.5,NaN,714,842,"1,274,911",28.1,27.5,48,24,C.Crawford (4.9),NaN
15,2003,TBD,NaN,AL East,162,63,99,0,.389,.420,5th of 5,38.0,NaN,715,852,"1,058,695",26.3,26.4,51,24,A.Huff (4.0),NaN
16,2002,TBD,NaN,AL East,161,55,106,0,.342,.362,5th of 5,48.0,NaN,673,918,"1,065,742",27.1,26.9,43,22,R.Winn (4.9),NaN
17,2001,TBD,NaN,AL East,162,62,100,0,.383,.376,5th of 5,34.0,NaN,672,887,"1,298,365",28.1,26.9,46,24,T.Sturtze (3.3),NaN
18,2000,TBD,NaN,AL East,161,69,92,0,.429,.437,5th of 5,18.0,NaN,733,842,"1,449,673",30.1,29.3,51,24,G.Vaughn (3.2),NaN

In [57]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'TBR' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'TBR')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
    for col in ['team_name', 'playoffs', 'managers']:
        master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-TBR.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,TBR,NaN,AL East,162,80,82,0,.494,.493,3rd of 5,13.0,NaN,694,704,"1,253,619",28.3,27.6,53,31,K.Kiermaier (5.1),NaN
2,2016,TBR,NaN,AL East,162,68,94,0,.420,.473,5th of 5,25.0,NaN,672,713,"1,286,163",27.7,26.9,48,25,K.Kiermaier (5.5),NaN
3,2015,TBR,NaN,AL East,162,80,82,0,.494,.501,4th of 5,13.0,NaN,644,642,"1,287,054",28.5,26.7,51,27,K.Kiermaier (7.5),NaN
4,2014,TBR,NaN,AL East,162,77,85,0,.475,.490,4th of 5,19.0,NaN,612,625,"1,446,464",29.3,28.4,43,23,B.Zobrist (5.0),NaN
5,2013,TBR,NaN,AL East,163,92,71,0,.564,.537,2nd of 5,5.5,NaN,700,646,"1,510,300",29.5,29.0,42,21,E.Longoria (6.2),NaN
6,2012,TBR,NaN,AL East,162,90,72,0,.556,.586,3rd of 5,5.0,NaN,697,577,"1,559,681",29.7,28.1,43,18,D.Price (6.6),NaN
7,2011,TBR,NaN,AL East,162,91,71,0,.562,.564,2nd of 5,6.0,NaN,707,614,"1,529,188",28.2,27.8,42,21,B.Zobrist (7.6),NaN
8,2010,TBR,NaN,AL East,162,96,66,0,.593,.596,1st of 5,--,NaN,802,649,"1,864,999",27.5,28.0,37,17,E.Longoria (8.2),NaN
9,2009,TBR,NaN,AL East,162,84,78,0,.519,.529,3rd of 5,19.0,NaN,803,754,"1,874,962",27.8,28.4,41,21,B.Zobrist (8.6),NaN
10,2008,TBR,NaN,AL East,162,97,65,0,.599,.565,1st of 5,--,NaN,774,671,"1,811,986",27.0,27.5,46,21,C.Pena (5.1),NaN
11,2007,TBR,NaN,AL East,162,66,96,0,.407,.415,5th of 5,30.0,NaN,782,944,"1,387,603",25.9,27.0,45,24,C.Pena (7.2),NaN
12,2006,TBR,NaN,AL East,162,61,101,0,.377,.402,5th of 5,36.0,NaN,689,856,"1,368,950",27.3,27.0,49,25,C.Crawford (4.5),NaN
13,2005,TBR,NaN,AL East,162,67,95,0,.414,.400,5th of 5,28.0,NaN,750,936,"1,141,669",27.5,27.4,43,21,J.Lugo (4.4),NaN
14,2004,TBR,NaN,AL East,161,70,91,0,.435,.425,4th of 5,30.5,NaN,714,842,"1,274,911",28.1,27.5,48,24,C.Crawford (4.9),NaN
15,2003,TBR,NaN,AL East,162,63,99,0,.389,.420,5th of 5,38.0,NaN,715,852,"1,058,695",26.3,26.4,51,24,A.Huff (4.0),NaN
16,2002,TBR,NaN,AL East,161,55,106,0,.342,.362,5th of 5,48.0,NaN,673,918,"1,065,742",27.1,26.9,43,22,R.Winn (4.9),NaN
17,2001,TBR,NaN,AL East,162,62,100,0,.383,.376,5th of 5,34.0,NaN,672,887,"1,298,365",28.1,26.9,46,24,T.Sturtze (3.3),NaN
18,2000,TBR,NaN,AL East,161,69,92,0,.429,.437,5th of 5,18.0,NaN,733,842,"1,449,673",30.1,29.3,51,24,G.Vaughn (3.2),NaN

In [58]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'TEX' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'TEX')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
    for col in ['team_name', 'playoffs', 'managers']:
        master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-TEX.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,TEX,NaN,AL West,162,78,84,0,.481,.490,3rd of 5,23.0,NaN,799,816,"2,507,760",28.4,28.8,51,31,E.Andrus (4.7),NaN
2,2016,TEX,NaN,AL West,162,95,67,0,.586,.505,1st of 5,--,NaN,765,757,"2,710,402",28.4,28.8,52,31,A.Beltre (6.5),NaN
3,2015,TEX,NaN,AL West,162,88,74,0,.543,.511,1st of 5,--,NaN,751,733,"2,491,875",28.7,28.1,57,31,A.Beltre (5.9),NaN
4,2014,TEX,NaN,AL West,162,67,95,0,.414,.412,5th of 5,31.0,NaN,637,773,"2,718,733",28.4,27.9,64,41,A.Beltre (6.7),NaN
5,2013,TEX,NaN,AL West,163,91,72,0,.558,.563,2nd of 5,5.5,NaN,730,636,"3,178,273",29.6,27.9,46,25,A.Beltre (5.6),NaN
6,2012,TEX,NaN,AL West,162,93,69,0,.574,.561,2nd of 4,1.0,NaN,808,707,"3,460,280",29.7,28.8,39,21,A.Beltre (7.2),NaN
7,2011,TEX,NaN,AL West,162,96,66,0,.593,.605,1st of 4,--,NaN,855,677,"2,946,949",29.1,28.8,45,25,I.Kinsler (7.0),NaN
8,2010,TEX,NaN,AL West,162,90,72,0,.556,.562,1st of 4,--,NaN,787,687,"2,505,171",28.3,27.6,48,22,J.Hamilton (8.7),NaN
9,2009,TEX,NaN,AL West,162,87,75,0,.537,.526,2nd of 4,10.0,NaN,784,740,"2,156,016",27.8,27.7,44,23,I.Kinsler (6.0),NaN
10,2008,TEX,NaN,AL West,162,79,83,0,.488,.468,2nd of 4,21.0,NaN,901,967,"1,945,677",27.7,28.1,55,30,J.Hamilton (5.5),NaN
11,2007,TEX,NaN,AL West,162,75,87,0,.463,.485,4th of 4,19.0,NaN,816,844,"2,353,862",29.4,27.7,50,25,I.Kinsler (4.1),NaN
12,2006,TEX,NaN,AL West,162,80,82,0,.494,.529,3rd of 4,13.0,NaN,835,784,"2,388,757",28.4,28.3,51,26,G.Matthews (5.2),NaN
13,2005,TEX,NaN,AL West,162,79,83,0,.488,.504,3rd of 4,16.0,NaN,865,858,"2,525,221",27.9,30.5,50,30,M.Teixeira (7.2),NaN
14,2004,TEX,NaN,AL West,162,89,73,0,.549,.536,3rd of 4,3.0,NaN,860,794,"2,513,685",27.7,30.6,52,30,R.Drese (5.0),NaN
15,2003,TEX,NaN,AL West,162,71,91,0,.438,.427,4th of 4,25.0,NaN,826,969,"2,094,394",28.4,28.1,52,27,A.Rodriguez (8.4),NaN
16,2002,TEX,NaN,AL West,162,72,90,0,.444,.479,4th of 4,31.0,NaN,843,882,"2,352,397",29.0,29.7,51,27,A.Rodriguez (8.8),NaN
17,2001,TEX,NaN,AL West,162,73,89,0,.451,.462,4th of 4,43.0,NaN,890,968,"2,831,021",29.9,28.5,51,25,A.Rodriguez (8.3),NaN
18,2000,TEX,NaN,AL West,162,71,91,0,.438,.437,4th of 4,20.5,NaN,848,974,"2,588,401",29.5,28.7,42,19,K.Rogers (5.1),NaN

In [59]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'TOR' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'TOR')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
    for col in ['team_name', 'playoffs', 'managers']:
        master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-TOR.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,TOR,NaN,AL East,162,76,86,0,.469,.444,4th of 5,17.0,NaN,693,784,"3,203,886",31.0,28.8,60,34,M.Stroman (5.9),NaN
2,2016,TOR,NaN,AL East,162,89,73,0,.549,.560,2nd of 5,4.0,NaN,759,666,"3,392,099",30.1,29.8,49,29,J.Donaldson (7.6),NaN
3,2015,TOR,NaN,AL East,162,93,69,0,.574,.628,1st of 5,--,NaN,891,670,"2,794,891",29.6,29.2,52,28,J.Donaldson (8.5),NaN
4,2014,TOR,NaN,AL East,162,83,79,0,.512,.524,3rd of 5,13.0,NaN,723,686,"2,375,525",29.2,29.6,55,27,J.Bautista (6.7),NaN
5,2013,TOR,NaN,AL East,162,74,88,0,.457,.473,5th of 5,23.0,NaN,712,756,"2,536,562",29.0,30.9,53,31,C.Rasmus (4.9),NaN
6,2012,TOR,NaN,AL East,162,73,89,0,.451,.459,4th of 5,22.0,NaN,716,784,"2,099,663",27.8,27.8,54,34,E.Encarnacion (5.0),NaN
7,2011,TOR,NaN,AL East,162,81,81,0,.500,.489,4th of 5,16.0,NaN,743,761,"1,818,103",28.3,27.6,53,30,J.Bautista (8.3),NaN
8,2010,TOR,NaN,AL East,162,85,77,0,.525,.517,4th of 5,11.0,NaN,755,728,"1,495,482",29.3,28.0,44,24,J.Bautista (7.0),NaN
9,2009,TOR,NaN,AL East,162,75,87,0,.463,.516,4th of 5,28.0,NaN,798,771,"1,876,129",29.9,28.4,44,24,R.Halladay (6.9),NaN
10,2008,TOR,NaN,AL East,162,86,76,0,.531,.572,4th of 5,11.0,NaN,714,610,"2,399,786",31.0,28.6,43,19,R.Halladay (6.2),NaN
11,2007,TOR,NaN,AL East,162,83,79,0,.512,.534,3rd of 5,13.0,NaN,753,699,"2,360,644",30.5,27.3,46,23,A.Rios (5.6),NaN
12,2006,TOR,NaN,AL East,162,87,75,0,.537,.532,2nd of 5,10.0,NaN,809,754,"2,302,212",28.6,28.1,42,21,V.Wells (6.2),NaN
13,2005,TOR,NaN,AL East,162,80,82,0,.494,.543,3rd of 5,15.0,NaN,775,705,"2,014,995",28.0,28.2,37,18,R.Halladay (5.5),NaN
14,2004,TOR,NaN,AL East,161,67,94,0,.416,.439,5th of 5,33.5,NaN,719,823,"1,900,041",28.0,28.6,47,25,O.Hudson (5.2),NaN
15,2003,TOR,NaN,AL East,162,86,76,0,.531,.536,3rd of 5,15.0,NaN,894,826,"1,799,458",28.4,29.0,40,22,R.Halladay (8.1),NaN
16,2002,TOR,NaN,AL East,162,78,84,0,.481,.492,3rd of 5,25.5,NaN,813,828,"1,637,900",27.2,27.4,45,24,R.Halladay (7.2),NaN
17,2001,TOR,NaN,AL East,162,80,82,0,.494,.508,3rd of 5,16.0,NaN,767,753,"1,915,438",28.2,28.5,41,20,C.Delgado (4.5),NaN
18,2000,TOR,NaN,AL East,162,83,79,0,.512,.476,3rd of 5,4.5,NaN,861,908,"1,705,712",28.1,28.9,45,22,C.Delgado (7.3),NaN

In [61]:
def seasons():
    master_df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                          'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                          'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    #for team in teams:
      #  try:
    df = pd.DataFrame(columns = ['year', 'team', 'team_name', 'division', 'G', 'W', 'L', 'ties', 'win_pct',
                                'p_win_pct', 'finish', 'gb', 'playoffs', 'R', 'RA', 'attendance', 'bat_age',
                                'pitch_age', 'num_bat', 'num_pitch', 'top_player', 'managers'])
    urls = requests.get('http://www.baseball-reference.com/teams/' + 'WSN' + '/')
    soup = BeautifulSoup(urls.text, 'html.parser')
    year = 2018
    for season in soup.find('table', {'class':'sortable stats_table'}, {'id':'franchise_years'}).find_all('tr'):
        results = []
        for element in season.find_all('td'):        
            results.append(element.text)
        if len(results) == 20:
            results.insert(0, 'WSN')
            results.insert(0, year)
            df.loc[len(df)] = results
            year -= 1

# create one master df
        master_df = pd.concat([master_df, df])

# sleep
        sleep(1)

#         except:
#             pass

# getting the data from 2000-2017
    master_df = master_df[(master_df.year >= 2000) & (master_df.year <= 2017)]

# drop duplicates
    master_df.drop_duplicates(inplace=True)

# encode team and playoffs columns
    for col in ['team_name', 'playoffs', 'managers']:
        master_df[col] = master_df[col].str.encode('utf-8').str.replace('\xc2\xa0', ' ')

# save it to csv
    master_df.to_csv('/Users/andreewerner/Desktop/franchise-mlb-data-WSN.csv', index=False, encoding='utf-8')
    return master_df

seasons()

,year,team,team_name,division,G,W,L,ties,win_pct,p_win_pct,finish,gb,playoffs,R,RA,attendance,bat_age,pitch_age,num_bat,num_pitch,top_player,managers
1,2017,WSN,NaN,NL East,162,97,65,0,.599,.590,1st of 5,--,NaN,819,672,"2,524,980",29.2,30.1,49,24,M.Scherzer (7.4),NaN
2,2016,WSN,NaN,NL East,162,95,67,0,.586,.600,1st of 5,--,NaN,763,612,"2,481,938",28.8,29.1,43,24,M.Scherzer (6.5),NaN
3,2015,WSN,NaN,NL East,162,83,79,0,.512,.546,2nd of 5,7.0,NaN,703,635,"2,619,843",28.4,28.6,44,26,B.Harper (10.0),NaN
4,2014,WSN,NaN,NL East,162,96,66,0,.593,.596,1st of 5,--,NaN,686,555,"2,579,389",28.8,28.3,40,18,A.Rendon (6.6),NaN
5,2013,WSN,NaN,NL East,162,86,76,0,.531,.521,2nd of 5,10.0,NaN,656,626,"2,652,422",27.7,27.7,44,21,J.Werth (4.7),NaN
6,2012,WSN,NaN,NL East,162,98,64,0,.605,.594,1st of 5,--,NaN,731,594,"2,370,794",27.2,27.0,43,19,J.Zimmermann (5.5),NaN
7,2011,WSN,NaN,NL East,161,80,81,0,.497,.486,3rd of 5,21.5,NaN,624,643,"1,940,478",28.4,27.6,44,24,M.Morse (3.4),NaN
8,2010,WSN,NaN,NL East,162,69,93,0,.426,.443,5th of 5,28.0,NaN,655,742,"1,828,066",29.1,28.0,46,26,R.Zimmerman (6.2),NaN
9,2009,WSN,NaN,NL East,162,59,103,0,.364,.406,5th of 5,34.0,NaN,710,874,"1,817,226",28.3,27.4,55,30,R.Zimmerman (7.3),NaN
10,2008,WSN,NaN,NL East,161,59,102,0,.366,.387,5th of 5,32.5,NaN,641,825,"2,320,400",27.7,27.3,50,25,C.Guzman (4.6),NaN
11,2007,WSN,NaN,NL East,162,73,89,0,.451,.431,4th of 5,16.0,NaN,673,783,"1,943,812",27.9,27.5,47,26,R.Zimmerman (4.7),NaN
12,2006,WSN,NaN,NL East,162,71,91,0,.438,.429,5th of 5,26.0,NaN,746,872,"2,153,056",28.5,28.9,57,29,A.Soriano (6.1),NaN
13,2005,WSN,NaN,NL East,162,81,81,0,.500,.476,5th of 5,9.0,NaN,639,673,"2,731,993",29.3,28.9,55,25,J.Patterson (4.5),NaN
14,2004,WSN,NaN,NL East,162,67,95,0,.414,.413,5th of 5,29.0,NaN,635,769,"749,550",27.5,26.5,46,22,L.Hernandez (5.7),NaN
15,2003,WSN,NaN,NL East,162,83,79,0,.512,.497,4th of 5,18.0,NaN,711,716,"1,025,639",27.7,26.7,43,25,L.Hernandez (6.4),NaN
16,2002,WSN,NaN,NL East,162,83,79,0,.512,.511,2nd of 5,19.0,NaN,735,718,"812,045",28.2,27.7,43,20,V.Guerrero (7.0),NaN
17,2001,WSN,NaN,NL East,162,68,94,0,.420,.413,5th of 5,20.0,NaN,670,812,"642,745",27.6,27.4,47,23,J.Vazquez (6.3),NaN
18,2000,WSN,NaN,NL East,162,67,95,0,.414,.409,4th of 5,28.0,NaN,738,902,"926,272",26.2,26.1,49,27,V.Guerrero (6.0),NaN