In [1]:
import psycopg2
import random
import time
from time import strftime, localtime

import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
from sklearn.impute import SimpleImputer

print("Start: %s" % strftime("%b %d %Y %H:%M:%S", localtime()))

from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:metis@localhost:5432/homecredit')

# for each one, do the set intersect
# do the loop /=
# print the shape

Start: Oct 28 2018 21:38:38

In [2]:
#load train+test from pickle before scrub

appdata = pd.read_pickle("appdata.pickle")
print(appdata.shape)
appdata.head()

(356255, 290)

,TARGET,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,BASEMENTAREA_AVG,...,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,1,100002,24700.5,406597.5,202500.0,0.000000,0.000000,1.000000,0.024700,0.036900,...,1,0,0,0,0,0,0,0,0,1
1,0,100003,35698.5,1293502.5,270000.0,0.000000,0.000000,0.000000,0.095900,0.052900,...,0,0,0,0,1,0,0,0,0,0
2,0,100004,6750.0,135000.0,67500.0,0.000000,0.000000,0.000000,0.118138,0.088673,...,0,0,1,0,1,0,0,0,0,0
3,0,100006,29686.5,312682.5,135000.0,0.231697,0.304399,1.911564,0.118138,0.088673,...,0,0,1,0,0,0,0,0,0,1
4,0,100007,21865.5,513000.0,121500.0,0.000000,0.000000,0.000000,0.118138,0.088673,...,0,0,1,0,0,0,0,1,0,0

# Add additional tables, and a few engineered features

In [3]:
#load files, join everything
latest_application=pd.read_sql_query('select * from dv_latest_application_ext',con=engine)
latest_application.columns=[s.upper() for s in latest_application.columns]
latest_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,UNUSED_COUNT,XAP_COUNT,CLIENT_COUNT,VERIF_COUNT,XNA_COUNT,LIMIT_COUNT,SCOFR_COUNT,SYSTEM_COUNT,HC_COUNT,SCO_COUNT
0,1243599,100006,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,NaN,8.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,1692033,100007,Cash loans,16037.60,247500.0,274288.0,NaN,247500.0,MONDAY,11,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006578,100014,Consumer loans,14045.60,73800.0,73800.0,0.0,73800.0,TUESDAY,14,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1213820,100021,Consumer loans,7424.87,71950.5,79546.5,0.0,71950.5,SATURDAY,15,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2037234,100033,Consumer loans,5542.92,53599.5,53329.5,5364.0,53599.5,MONDAY,14,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# rename to avoid collisions

for col in ['NAME_TYPE_SUITE',
            'WEEKDAY_APPR_PROCESS_START',
            'HOUR_APPR_PROCESS_START',
            'NAME_CONTRACT_TYPE',
            'AMT_ANNUITY',
            'AMT_APPLICATION',
            'AMT_CREDIT',
            'AMT_DOWN_PAYMENT',
            'AMT_GOODS_PRICE'
           ]:
    latest_application.rename(columns={col: 'PREVAPP_' + col}, inplace=True)
    print(col)
latest_application.head()

NAME_TYPE_SUITE
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
NAME_CONTRACT_TYPE
AMT_ANNUITY
AMT_APPLICATION
AMT_CREDIT
AMT_DOWN_PAYMENT
AMT_GOODS_PRICE

,SK_ID_PREV,SK_ID_CURR,PREVAPP_NAME_CONTRACT_TYPE,PREVAPP_AMT_ANNUITY,PREVAPP_AMT_APPLICATION,PREVAPP_AMT_CREDIT,PREVAPP_AMT_DOWN_PAYMENT,PREVAPP_AMT_GOODS_PRICE,PREVAPP_WEEKDAY_APPR_PROCESS_START,PREVAPP_HOUR_APPR_PROCESS_START,...,UNUSED_COUNT,XAP_COUNT,CLIENT_COUNT,VERIF_COUNT,XNA_COUNT,LIMIT_COUNT,SCOFR_COUNT,SYSTEM_COUNT,HC_COUNT,SCO_COUNT
0,1243599,100006,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,NaN,8.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,1692033,100007,Cash loans,16037.60,247500.0,274288.0,NaN,247500.0,MONDAY,11,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006578,100014,Consumer loans,14045.60,73800.0,73800.0,0.0,73800.0,TUESDAY,14,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1213820,100021,Consumer loans,7424.87,71950.5,79546.5,0.0,71950.5,SATURDAY,15,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2037234,100033,Consumer loans,5542.92,53599.5,53329.5,5364.0,53599.5,MONDAY,14,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
set(latest_application.columns).intersection(set(appdata.columns))

{'SK_ID_CURR'}

In [6]:
# log1p these columns
for col in ['APP_COUNT',
            'REFUSED_COUNT',
            'CANCELED_COUNT',
            'APPROVED_COUNT',
            'UNUSED_COUNT',
            'XAP_COUNT',
            'CLIENT_COUNT',
            'VERIF_COUNT',
            'XNA_COUNT',
            'LIMIT_COUNT',
            'SCOFR_COUNT',
            'SYSTEM_COUNT',
            'HC_COUNT',
            'SCO_COUNT'
           ]:
    latest_application[col]=latest_application[col].fillna(value=0)
    latest_application[col]=np.log1p(latest_application[col])

In [7]:
appdata = appdata.merge(latest_application, 
                        how='left', 
                        on="SK_ID_CURR", 
                       )
print(appdata.shape)
appdata.head()

(356255, 341)

,TARGET,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,BASEMENTAREA_AVG,...,UNUSED_COUNT,XAP_COUNT,CLIENT_COUNT,VERIF_COUNT,XNA_COUNT,LIMIT_COUNT,SCOFR_COUNT,SYSTEM_COUNT,HC_COUNT,SCO_COUNT
0,1,100002,24700.5,406597.5,202500.0,0.000000,0.000000,1.000000,0.024700,0.036900,...,0.0,0.693147,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0,100003,35698.5,1293502.5,270000.0,0.000000,0.000000,0.000000,0.095900,0.052900,...,0.0,1.386294,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0,100004,6750.0,135000.0,67500.0,0.000000,0.000000,0.000000,0.118138,0.088673,...,0.0,0.693147,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0,100006,29686.5,312682.5,135000.0,0.231697,0.304399,1.911564,0.118138,0.088673,...,0.0,2.197225,0.0,0.0,0.0,0.693147,0.0,0.0,0.0,0.0
4,0,100007,21865.5,513000.0,121500.0,0.000000,0.000000,0.000000,0.118138,0.088673,...,0.0,1.945910,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [8]:
# divide goods price by credit requested (inverse l/v ratio)
appdata['PREVAPP_AMT_GOODS_PRICE'] /= appdata['PREVAPP_AMT_CREDIT']

for col in ['PREVAPP_AMT_ANNUITY',
            'PREVAPP_AMT_APPLICATION',
            'PREVAPP_AMT_CREDIT',
            'PREVAPP_AMT_DOWN_PAYMENT',
           ]:
    appdata[col] /= appdata['AMT_INCOME_TOTAL']

In [9]:
bureau=pd.read_sql_query('select * from dv_bureau_ext2',con=engine)
bureau.columns=[s.upper() for s in bureau.columns]
bureau.head()

,SK_ID_CURR,CNT_BUREAU_REPORTS,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_MAX_OVERDUE,BAD_DEBT,BURSTAT0,BURSTAT1,BURCOUNT,BURCOUNT0,BURCOUNT1,BURCOUNT2,BURCOUNT3,BURCOUNT4,BURCOUNT5,BURCOUNTC,BURCOUNTX
0,100014,2,1005750.0,758214.0,0.0,0.0,0,12752.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100026,2,4050000.0,3477810.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100031,3,751280.0,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100033,1,675000.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,100057,1,164250.0,0.0,NaN,0.0,0,NaN,NaN,NaN,NaN,367.0,71.0,NaN,NaN,NaN,NaN,NaN,229.0,67.0

In [10]:
set(bureau.columns).intersection(set(appdata.columns))

{'SK_ID_CURR'}

In [11]:
# log1p the counts
for col in [
    'CNT_CREDIT_PROLONG',
    'CNT_BUREAU_REPORTS',
    'BURSTAT0',
    'BURSTAT1',
    'BURCOUNT',
    'BURCOUNT0',
    'BURCOUNT1',
    'BURCOUNT2',
    'BURCOUNT3',
    'BURCOUNT4',
    'BURCOUNT5',
    'BURCOUNTC',
    'BURCOUNTX']:
    bureau[col]=bureau[col].fillna(value=0)
    bureau[col]=np.log1p(bureau[col])

In [12]:
appdata = appdata.merge(bureau, 
                        how='left', 
                        on="SK_ID_CURR", 
                       )
print(appdata.shape)

(356255, 360)

In [13]:
for col in [
    'AMT_CREDIT_SUM',
    'AMT_CREDIT_SUM_DEBT',
    'AMT_CREDIT_SUM_LIMIT',
    'AMT_CREDIT_SUM_OVERDUE',
    'AMT_CREDIT_MAX_OVERDUE'
]:
    appdata[col] /= appdata['AMT_INCOME_TOTAL']

In [14]:
credit_card_balance=pd.read_sql_query('select * from dv_credit_card_balance_ext',con=engine)
credit_card_balance.columns=[s.upper() for s in credit_card_balance.columns]
credit_card_balance.head()

,SK_ID_CURR,CREDIT_CARD_COUNT,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF,MAX_SK_DPD,MAX_SK_DPD_DEF
0,100028,1,37335.9,225000,0.0,22823.6,0.0,22823.6,11250.0,11250.00,...,36980.4,0.0,4,0.0,4.0,35.0,0,0,0,0
1,100050,1,0.0,180000,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,0,NaN,NaN,0.0,0,0,0,0
2,100086,1,0.0,45000,0.0,0.0,0.0,0.0,0.0,414.54,...,0.0,0.0,0,0.0,0.0,52.0,0,0,1,1
3,100090,1,0.0,45000,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,0,NaN,NaN,0.0,0,0,0,0
4,100110,1,0.0,135000,NaN,0.0,NaN,NaN,0.0,NaN,...,0.0,NaN,0,NaN,NaN,0.0,0,0,0,0

In [15]:
credit_card_balance.describe()

,SK_ID_CURR,CREDIT_CARD_COUNT,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF,MAX_SK_DPD,MAX_SK_DPD_DEF
count,56870.000000,56870.000000,5.687000e+04,5.687000e+04,45723.000000,5.687000e+04,45723.000000,4.572300e+04,56870.000000,4.560500e+04,...,5.687000e+04,45723.000000,56870.000000,45723.000000,45723.000000,56870.000000,56870.000000,56870.000000,56870.000000,56870.000000
mean,278898.651380,1.000229,1.043641e+05,1.889429e+05,6810.770037,1.197305e+04,158.381309,7.866146e+03,5214.313752,1.495952e+04,...,1.037163e+05,0.363603,1.896747,0.002559,1.993001,19.189362,4.022068,0.025602,11.303622,0.633357
std,102628.913553,0.015118,1.638834e+05,2.020003e+05,30166.546502,4.441986e+04,5926.334631,3.584371e+04,8139.344368,4.600891e+04,...,1.630414e+05,1.166005,5.800904,0.062866,6.148181,23.211246,77.291487,1.010824,110.480446,12.454611
min,100006.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190531.500000,1.000000,0.000000e+00,4.500000e+04,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,2.340450e+02,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,279059.500000,1.000000,0.000000e+00,1.350000e+05,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,4.950000e+03,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000
75%,368257.750000,1.000000,1.677585e+05,2.700000e+05,0.000000,3.150000e+03,0.000000,9.000000e+02,8301.612500,1.395000e+04,...,1.668838e+05,0.000000,1.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,0.000000
max,456250.000000,2.000000,1.210510e+06,1.350000e+06,891000.000000,2.060030e+06,673920.000000,2.060030e+06,68930.000000,1.941420e+06,...,1.210510e+06,28.000000,135.000000,4.000000,135.000000,120.000000,2739.000000,151.000000,2831.000000,2435.000000

In [16]:
set(credit_card_balance.columns).intersection(set(appdata.columns))

{'SK_ID_CURR'}

In [17]:
for col in ['CREDIT_CARD_COUNT',
            'CNT_DRAWINGS_ATM_CURRENT', 
            'CNT_DRAWINGS_CURRENT',
            'CNT_DRAWINGS_OTHER_CURRENT', 
            'CNT_DRAWINGS_POS_CURRENT',
            'CNT_INSTALMENT_MATURE_CUM'
           ]:
    credit_card_balance[col]=credit_card_balance[col].fillna(value=0)
    credit_card_balance[col]=np.log1p(credit_card_balance[col])

In [18]:
appdata = appdata.merge(credit_card_balance, 
                        how='left', 
                        on="SK_ID_CURR", 
                       )
print(appdata.shape)

(356255, 382)

In [19]:
for col in ['AMT_BALANCE',
            'AMT_CREDIT_LIMIT_ACTUAL', 
            'AMT_DRAWINGS_ATM_CURRENT',
            'AMT_DRAWINGS_CURRENT', 
            'AMT_DRAWINGS_OTHER_CURRENT',
            'AMT_DRAWINGS_POS_CURRENT', 
            'AMT_INST_MIN_REGULARITY',
            'AMT_PAYMENT_CURRENT', 
            'AMT_PAYMENT_TOTAL_CURRENT',
            'AMT_RECEIVABLE_PRINCIPAL', 
            'AMT_RECIVABLE', 
            'AMT_TOTAL_RECEIVABLE',
           ]:
    appdata[col] /= appdata['AMT_INCOME_TOTAL']

In [20]:
pos_cash_balance=pd.read_sql_query('select * from dv_pos_ext',con=engine)
pos_cash_balance.columns=[s.upper() for s in pos_cash_balance.columns]
pos_cash_balance.head()

,SK_ID_CURR,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,POS_SK_DPD_CUR,POS_SK_DPD_DEF,POS_COUNT,POS_SK_DPD_HIST,POS_SK_DPD_DEF_HIST
0,100002,24.0,6.0,0,0,19,0,0
1,100014,6.0,4.0,0,0,16,0,0
2,100050,24.0,9.0,0,0,16,0,0
3,100054,10.0,1.0,0,0,49,0,0
4,100063,36.0,13.0,0,0,41,3,3

In [21]:
pos_cash_balance.describe()

,SK_ID_CURR,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,POS_SK_DPD_CUR,POS_SK_DPD_DEF,POS_COUNT,POS_SK_DPD_HIST,POS_SK_DPD_DEF_HIST
count,75274.000000,75274.000000,75274.000000,75274.000000,75274.000000,75274.000000,75274.000000,75274.000000
mean,278570.302854,24.268433,13.665157,4.953835,0.101682,38.986968,17.278928,1.721351
std,102745.459096,15.225662,13.299453,108.514842,2.310648,28.315272,166.713575,41.779546
min,100002.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,189821.000000,12.000000,4.000000,0.000000,0.000000,18.000000,0.000000,0.000000
50%,278939.500000,24.000000,9.000000,0.000000,0.000000,32.000000,0.000000,0.000000
75%,368053.250000,36.000000,18.000000,0.000000,0.000000,52.000000,0.000000,0.000000
max,456254.000000,84.000000,80.000000,4231.000000,135.000000,247.000000,4231.000000,3595.000000

In [22]:
set(pos_cash_balance.columns).intersection(set(appdata.columns))

{'SK_ID_CURR'}

In [23]:
for col in ["CNT_INSTALMENT",
            "CNT_INSTALMENT_FUTURE",
            "POS_COUNT"
           ]:
    pos_cash_balance[col]=np.log1p(pos_cash_balance[col])

In [24]:
appdata = appdata.merge(pos_cash_balance, 
                        how='left', 
                        on="SK_ID_CURR", 
                       )
print(appdata.shape)

(356255, 389)

# Determine numeric/categorical/binary

In [25]:
# if this many or fewer unique values, assume it's categorical
# determine which columns are numerical, categorical, or binary
MAX_UNIQUE_CATEGORY = 10

binary = []
categorical = []
numeric = []

cols = appdata.columns

for col in cols:
    # is it numeric?
    is_numeric = np.issubdtype(appdata[col].dtype, np.number)
    # how may unique values?
    uniques = len(appdata[col].unique())

    if uniques == 2: # binary whether numeric or not
        binary.append(col)
    elif not is_numeric: # categorical
        categorical.append(col)
    elif uniques <= MAX_UNIQUE_CATEGORY: # numeric but only a few uniques
        categorical.append(col)
    else:
        numeric.append(col)
        print("%30s: %d" % (col, uniques))

print("Numeric columns: %d" %len(numeric))
print("Binary columns:  %d" %len(binary))
print("Categorical columns:  %d" %len(categorical))

binary.sort()
categorical.sort()
numeric.sort()

                    SK_ID_CURR: 356255
                   AMT_ANNUITY: 14167
                    AMT_CREDIT: 6480
              AMT_INCOME_TOTAL: 2688
     AMT_REQ_CREDIT_BUREAU_MON: 25
     AMT_REQ_CREDIT_BUREAU_QRT: 12
    AMT_REQ_CREDIT_BUREAU_YEAR: 26
                APARTMENTS_AVG: 2392
              BASEMENTAREA_AVG: 3832
                  CNT_CHILDREN: 16
               CNT_FAM_MEMBERS: 19
                COMMONAREA_AVG: 3272
                    DAYS_BIRTH: 17467
                 DAYS_EMPLOYED: 12896
               DAYS_ID_PUBLISH: 6224
        DAYS_LAST_PHONE_CHANGE: 3847
             DAYS_REGISTRATION: 15898
                 ELEVATORS_AVG: 267
                 ENTRANCES_AVG: 295
                  EXT_SOURCE_1: 134316
                  EXT_SOURCE_2: 127158
                  EXT_SOURCE_3: 815
                 FLOORSMAX_AVG: 415
                 FLOORSMIN_AVG: 319
       HOUR_APPR_PROCESS_START: 24
                  LANDAREA_AVG: 3581
          LIVINGAPARTMENTS_AVG: 1918
                LIVINGAREA_AVG: 5273
       NONLIVINGAPARTMENTS_AVG: 411
             NONLIVINGAREA_AVG: 3398
      OBS_30_CNT_SOCIAL_CIRCLE: 37
      OBS_60_CNT_SOCIAL_CIRCLE: 36
                   OWN_CAR_AGE: 64
           RATE_ANNUITY_INCOME: 98316
              RATE_CREDIT_EXT1: 162105
              RATE_CREDIT_EXT2: 348911
              RATE_CREDIT_EXT3: 156632
            RATE_CREDIT_INCOME: 54911
             RATE_CREDIT_VALUE: 3546
              RATE_INCOME_EXT1: 160248
              RATE_INCOME_EXT2: 320266
              RATE_INCOME_EXT3: 39221
           RATE_PAYMENT_CREDIT: 43679
             RATE_PAYMENT_EXT1: 162270
             RATE_PAYMENT_EXT2: 353794
             RATE_PAYMENT_EXT3: 238514
    REGION_POPULATION_RELATIVE: 82
                TOTALAREA_MODE: 5192
   YEARS_BEGINEXPLUATATION_AVG: 295
               YEARS_BUILD_AVG: 150
                    SK_ID_PREV: 338811
           PREVAPP_AMT_ANNUITY: 192931
       PREVAPP_AMT_APPLICATION: 98972
            PREVAPP_AMT_CREDIT: 134464
      PREVAPP_AMT_DOWN_PAYMENT: 28776
       PREVAPP_AMT_GOODS_PRICE: 88444
PREVAPP_HOUR_APPR_PROCESS_START: 25
             RATE_DOWN_PAYMENT: 28479
         RATE_INTEREST_PRIMARY: 84
      RATE_INTEREST_PRIVILEGED: 19
                 DAYS_DECISION: 2923
              SELLERPLACE_AREA: 1661
                   CNT_PAYMENT: 41
            DAYS_FIRST_DRAWING: 2025
                DAYS_FIRST_DUE: 2892
     DAYS_LAST_DUE_1ST_VERSION: 4530
                 DAYS_LAST_DUE: 2771
              DAYS_TERMINATION: 2706
                     APP_COUNT: 68
                 REFUSED_COUNT: 48
                CANCELED_COUNT: 41
                APPROVED_COUNT: 27
                  UNUSED_COUNT: 14
                     XAP_COUNT: 49
                  CLIENT_COUNT: 14
                     XNA_COUNT: 13
                   LIMIT_COUNT: 24
                   SCOFR_COUNT: 20
                  SYSTEM_COUNT: 12
                      HC_COUNT: 39
                     SCO_COUNT: 22
            CNT_BUREAU_REPORTS: 23
                AMT_CREDIT_SUM: 136098
           AMT_CREDIT_SUM_DEBT: 202473
          AMT_CREDIT_SUM_LIMIT: 44735
        AMT_CREDIT_SUM_OVERDUE: 2272
            CNT_CREDIT_PROLONG: 11
        AMT_CREDIT_MAX_OVERDUE: 30601
                      BURSTAT1: 11
                      BURCOUNT: 1267
                     BURCOUNT0: 469
                     BURCOUNT1: 103
                     BURCOUNT2: 34
                     BURCOUNT3: 25
                     BURCOUNT4: 20
                     BURCOUNT5: 125
                     BURCOUNTC: 868
                     BURCOUNTX: 609
                   AMT_BALANCE: 27491
       AMT_CREDIT_LIMIT_ACTUAL: 2365
      AMT_DRAWINGS_ATM_CURRENT: 1686
          AMT_DRAWINGS_CURRENT: 12627
    AMT_DRAWINGS_OTHER_CURRENT: 85
      AMT_DRAWINGS_POS_CURRENT: 11471
       AMT_INST_MIN_REGULARITY: 22083
           AMT_PAYMENT_CURRENT: 23868
     AMT_PAYMENT_TOTAL_CURRENT: 15546
      AMT_RECEIVABLE_PRINCIPAL: 26591
                 AMT_RECIVABLE: 27039
          AMT_TOTAL_RECEIVABLE: 27039
      CNT_DRAWINGS_ATM_CURRENT: 26
          CNT_DRAWINGS_CURRENT: 92
      CNT_DRAWINGS_POS_CURRENT: 91
     CNT_INSTALMENT_MATURE_CUM: 122
                        SK_DPD: 156
                    SK_DPD_DEF: 14
                    MAX_SK_DPD: 311
                MAX_SK_DPD_DEF: 36
                CNT_INSTALMENT: 61
         CNT_INSTALMENT_FUTURE: 68
                POS_SK_DPD_CUR: 269
                POS_SK_DPD_DEF: 78
                     POS_COUNT: 222
               POS_SK_DPD_HIST: 934
           POS_SK_DPD_DEF_HIST: 129
Numeric columns: 125
Binary columns:  242
Categorical columns:  22

In [26]:
# Fix some default assignments

def numeric_to_cat(str):
    if str in numeric:
        print("Move %s to categorical" % str)
        numeric.remove(str)
        categorical.append(str)
    categorical.sort()

def cat_to_numeric(str):
    if str in categorical:
        print("Move %s to numeric" % str)
        categorical.remove(str)
        numeric.append(str)
    numeric.sort()
        
# don't want to do anything with TARGET, SK_ID_CURR, SK_ID_PREV

cat_to_numeric('BURSTAT0')
categorical.remove('TARGET')
numeric.remove('SK_ID_CURR')
numeric.remove('SK_ID_PREV')
binary.remove('RANK')

Move BURSTAT0 to numeric

In [27]:
numeric

['AMT_ANNUITY',
 'AMT_BALANCE',
 'AMT_CREDIT',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_CREDIT_MAX_OVERDUE',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'AMT_DRAWINGS_ATM_CURRENT',
 'AMT_DRAWINGS_CURRENT',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_DRAWINGS_POS_CURRENT',
 'AMT_INCOME_TOTAL',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_CURRENT',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'AMT_TOTAL_RECEIVABLE',
 'APARTMENTS_AVG',
 'APPROVED_COUNT',
 'APP_COUNT',
 'BASEMENTAREA_AVG',
 'BURCOUNT',
 'BURCOUNT0',
 'BURCOUNT1',
 'BURCOUNT2',
 'BURCOUNT3',
 'BURCOUNT4',
 'BURCOUNT5',
 'BURCOUNTC',
 'BURCOUNTX',
 'BURSTAT0',
 'BURSTAT1',
 'CANCELED_COUNT',
 'CLIENT_COUNT',
 'CNT_BUREAU_REPORTS',
 'CNT_CHILDREN',
 'CNT_CREDIT_PROLONG',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'CNT_FAM_MEMBERS',
 'CNT_INSTALMENT',
 'CNT_INSTALMENT_FUTURE',
 'CNT_INSTALMENT_MATURE_CUM',
 'CNT_PAYMENT',
 'COMMONAREA_AVG',
 'DAYS_BIRTH',
 'DAYS_DECISION',
 'DAYS_EMPLOYED',
 'DAYS_FIRST_DRAWING',
 'DAYS_FIRST_DUE',
 'DAYS_ID_PUBLISH',
 'DAYS_LAST_DUE',
 'DAYS_LAST_DUE_1ST_VERSION',
 'DAYS_LAST_PHONE_CHANGE',
 'DAYS_REGISTRATION',
 'DAYS_TERMINATION',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'HC_COUNT',
 'HOUR_APPR_PROCESS_START',
 'LANDAREA_AVG',
 'LIMIT_COUNT',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'MAX_SK_DPD',
 'MAX_SK_DPD_DEF',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'OWN_CAR_AGE',
 'POS_COUNT',
 'POS_SK_DPD_CUR',
 'POS_SK_DPD_DEF',
 'POS_SK_DPD_DEF_HIST',
 'POS_SK_DPD_HIST',
 'PREVAPP_AMT_ANNUITY',
 'PREVAPP_AMT_APPLICATION',
 'PREVAPP_AMT_CREDIT',
 'PREVAPP_AMT_DOWN_PAYMENT',
 'PREVAPP_AMT_GOODS_PRICE',
 'PREVAPP_HOUR_APPR_PROCESS_START',
 'RATE_ANNUITY_INCOME',
 'RATE_CREDIT_EXT1',
 'RATE_CREDIT_EXT2',
 'RATE_CREDIT_EXT3',
 'RATE_CREDIT_INCOME',
 'RATE_CREDIT_VALUE',
 'RATE_DOWN_PAYMENT',
 'RATE_INCOME_EXT1',
 'RATE_INCOME_EXT2',
 'RATE_INCOME_EXT3',
 'RATE_INTEREST_PRIMARY',
 'RATE_INTEREST_PRIVILEGED',
 'RATE_PAYMENT_CREDIT',
 'RATE_PAYMENT_EXT1',
 'RATE_PAYMENT_EXT2',
 'RATE_PAYMENT_EXT3',
 'REFUSED_COUNT',
 'REGION_POPULATION_RELATIVE',
 'SCOFR_COUNT',
 'SCO_COUNT',
 'SELLERPLACE_AREA',
 'SK_DPD',
 'SK_DPD_DEF',
 'SYSTEM_COUNT',
 'TOTALAREA_MODE',
 'UNUSED_COUNT',
 'XAP_COUNT',
 'XNA_COUNT',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG']

In [28]:
categorical

['CHANNEL_TYPE',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CODE_REJECT_REASON',
 'CREDIT_CARD_COUNT',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'NAME_CASH_LOAN_PURPOSE',
 'NAME_CLIENT_TYPE',
 'NAME_CONTRACT_STATUS',
 'NAME_GOODS_CATEGORY',
 'NAME_PAYMENT_TYPE',
 'NAME_PORTFOLIO',
 'NAME_PRODUCT_TYPE',
 'NAME_SELLER_INDUSTRY',
 'NAME_YIELD_GROUP',
 'NFLAG_INSURED_ON_APPROVAL',
 'PREVAPP_NAME_CONTRACT_TYPE',
 'PREVAPP_NAME_TYPE_SUITE',
 'PREVAPP_WEEKDAY_APPR_PROCESS_START',
 'PRODUCT_COMBINATION',
 'VERIF_COUNT']

In [29]:
binary

['AMT_REQ_CREDIT_BUREAU_DAY_0.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_1.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_2.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_3.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_4.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_5.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_6.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_8.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_9.0',
 'AMT_REQ_CREDIT_BUREAU_DAY_nan',
 'AMT_REQ_CREDIT_BUREAU_HOUR_0.0',
 'AMT_REQ_CREDIT_BUREAU_HOUR_1.0',
 'AMT_REQ_CREDIT_BUREAU_HOUR_2.0',
 'AMT_REQ_CREDIT_BUREAU_HOUR_3.0',
 'AMT_REQ_CREDIT_BUREAU_HOUR_4.0',
 'AMT_REQ_CREDIT_BUREAU_HOUR_nan',
 'AMT_REQ_CREDIT_BUREAU_WEEK_0.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_1.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_2.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_3.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_4.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_5.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_6.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_7.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_8.0',
 'AMT_REQ_CREDIT_BUREAU_WEEK_nan',
 'BAD_DEBT',
 'CODE_GENDER_F',
 'CODE_GENDER_M',
 'CODE_GENDER_XNA',
 'DEF_30_CNT_SOCIAL_CIRCLE_0.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_1.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_2.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_3.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_34.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_4.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_5.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_6.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_7.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_8.0',
 'DEF_30_CNT_SOCIAL_CIRCLE_nan',
 'DEF_60_CNT_SOCIAL_CIRCLE_0.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_1.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_2.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_24.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_3.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_4.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_5.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_6.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_7.0',
 'DEF_60_CNT_SOCIAL_CIRCLE_nan',
 'EMERGENCYSTATE_MODE_No',
 'EMERGENCYSTATE_MODE_Yes',
 'EMERGENCYSTATE_MODE_nan',
 'FLAG_CONT_MOBILE',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_EMAIL',
 'FLAG_EMP_PHONE',
 'FLAG_MOBIL',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_PHONE',
 'FLAG_WORK_PHONE',
 'FONDKAPREMONT_MODE_nan',
 'FONDKAPREMONT_MODE_not specified',
 'FONDKAPREMONT_MODE_org spec account',
 'FONDKAPREMONT_MODE_reg oper account',
 'FONDKAPREMONT_MODE_reg oper spec account',
 'HOUSETYPE_MODE_block of flats',
 'HOUSETYPE_MODE_nan',
 'HOUSETYPE_MODE_specific housing',
 'HOUSETYPE_MODE_terraced house',
 'LIVE_CITY_NOT_WORK_CITY',
 'LIVE_REGION_NOT_WORK_REGION',
 'NAME_CONTRACT_TYPE',
 'NAME_EDUCATION_TYPE_Academic degree',
 'NAME_EDUCATION_TYPE_Higher education',
 'NAME_EDUCATION_TYPE_Incomplete higher',
 'NAME_EDUCATION_TYPE_Lower secondary',
 'NAME_EDUCATION_TYPE_Secondary / secondary special',
 'NAME_FAMILY_STATUS_Civil marriage',
 'NAME_FAMILY_STATUS_Married',
 'NAME_FAMILY_STATUS_Separated',
 'NAME_FAMILY_STATUS_Single / not married',
 'NAME_FAMILY_STATUS_Unknown',
 'NAME_FAMILY_STATUS_Widow',
 'NAME_HOUSING_TYPE_Co-op apartment',
 'NAME_HOUSING_TYPE_House / apartment',
 'NAME_HOUSING_TYPE_Municipal apartment',
 'NAME_HOUSING_TYPE_Office apartment',
 'NAME_HOUSING_TYPE_Rented apartment',
 'NAME_HOUSING_TYPE_With parents',
 'NAME_INCOME_TYPE_Businessman',
 'NAME_INCOME_TYPE_Commercial associate',
 'NAME_INCOME_TYPE_Maternity leave',
 'NAME_INCOME_TYPE_Pensioner',
 'NAME_INCOME_TYPE_State servant',
 'NAME_INCOME_TYPE_Student',
 'NAME_INCOME_TYPE_Unemployed',
 'NAME_INCOME_TYPE_Working',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_TYPE_SUITE_nan',
 'NFLAG_LAST_APPL_IN_DAY',
 'OCCUPATION_TYPE_Accountants',
 'OCCUPATION_TYPE_Cleaning staff',
 'OCCUPATION_TYPE_Cooking staff',
 'OCCUPATION_TYPE_Core staff',
 'OCCUPATION_TYPE_Drivers',
 'OCCUPATION_TYPE_HR staff',
 'OCCUPATION_TYPE_High skill tech staff',
 'OCCUPATION_TYPE_IT staff',
 'OCCUPATION_TYPE_Laborers',
 'OCCUPATION_TYPE_Low-skill Laborers',
 'OCCUPATION_TYPE_Managers',
 'OCCUPATION_TYPE_Medicine staff',
 'OCCUPATION_TYPE_Private service staff',
 'OCCUPATION_TYPE_Realty agents',
 'OCCUPATION_TYPE_Sales staff',
 'OCCUPATION_TYPE_Secretaries',
 'OCCUPATION_TYPE_Security staff',
 'OCCUPATION_TYPE_Waiters/barmen staff',
 'OCCUPATION_TYPE_nan',
 'ORGANIZATION_TYPE_Advertising',
 'ORGANIZATION_TYPE_Agriculture',
 'ORGANIZATION_TYPE_Bank',
 'ORGANIZATION_TYPE_Business Entity Type 1',
 'ORGANIZATION_TYPE_Business Entity Type 2',
 'ORGANIZATION_TYPE_Business Entity Type 3',
 'ORGANIZATION_TYPE_Cleaning',
 'ORGANIZATION_TYPE_Construction',
 'ORGANIZATION_TYPE_Culture',
 'ORGANIZATION_TYPE_Electricity',
 'ORGANIZATION_TYPE_Emergency',
 'ORGANIZATION_TYPE_Government',
 'ORGANIZATION_TYPE_Hotel',
 'ORGANIZATION_TYPE_Housing',
 'ORGANIZATION_TYPE_Industry: type 1',
 'ORGANIZATION_TYPE_Industry: type 10',
 'ORGANIZATION_TYPE_Industry: type 11',
 'ORGANIZATION_TYPE_Industry: type 12',
 'ORGANIZATION_TYPE_Industry: type 13',
 'ORGANIZATION_TYPE_Industry: type 2',
 'ORGANIZATION_TYPE_Industry: type 3',
 'ORGANIZATION_TYPE_Industry: type 4',
 'ORGANIZATION_TYPE_Industry: type 5',
 'ORGANIZATION_TYPE_Industry: type 6',
 'ORGANIZATION_TYPE_Industry: type 7',
 'ORGANIZATION_TYPE_Industry: type 8',
 'ORGANIZATION_TYPE_Industry: type 9',
 'ORGANIZATION_TYPE_Insurance',
 'ORGANIZATION_TYPE_Kindergarten',
 'ORGANIZATION_TYPE_Legal Services',
 'ORGANIZATION_TYPE_Medicine',
 'ORGANIZATION_TYPE_Military',
 'ORGANIZATION_TYPE_Mobile',
 'ORGANIZATION_TYPE_Other',
 'ORGANIZATION_TYPE_Police',
 'ORGANIZATION_TYPE_Postal',
 'ORGANIZATION_TYPE_Realtor',
 'ORGANIZATION_TYPE_Religion',
 'ORGANIZATION_TYPE_Restaurant',
 'ORGANIZATION_TYPE_School',
 'ORGANIZATION_TYPE_Security',
 'ORGANIZATION_TYPE_Security Ministries',
 'ORGANIZATION_TYPE_Self-employed',
 'ORGANIZATION_TYPE_Services',
 'ORGANIZATION_TYPE_Telecom',
 'ORGANIZATION_TYPE_Trade: type 1',
 'ORGANIZATION_TYPE_Trade: type 2',
 'ORGANIZATION_TYPE_Trade: type 3',
 'ORGANIZATION_TYPE_Trade: type 4',
 'ORGANIZATION_TYPE_Trade: type 5',
 'ORGANIZATION_TYPE_Trade: type 6',
 'ORGANIZATION_TYPE_Trade: type 7',
 'ORGANIZATION_TYPE_Transport: type 1',
 'ORGANIZATION_TYPE_Transport: type 2',
 'ORGANIZATION_TYPE_Transport: type 3',
 'ORGANIZATION_TYPE_Transport: type 4',
 'ORGANIZATION_TYPE_University',
 'ORGANIZATION_TYPE_XNA',
 'REGION_POPULATION_QUANTILE_0',
 'REGION_POPULATION_QUANTILE_1',
 'REGION_POPULATION_QUANTILE_2',
 'REGION_POPULATION_QUANTILE_3',
 'REGION_POPULATION_QUANTILE_4',
 'REGION_POPULATION_QUANTILE_5',
 'REGION_POPULATION_QUANTILE_6',
 'REGION_POPULATION_QUANTILE_7',
 'REGION_POPULATION_QUANTILE_8',
 'REGION_POPULATION_QUANTILE_9',
 'REGION_RATING_CLIENT_1',
 'REGION_RATING_CLIENT_2',
 'REGION_RATING_CLIENT_3',
 'REGION_RATING_CLIENT_W_CITY_-1',
 'REGION_RATING_CLIENT_W_CITY_1',
 'REGION_RATING_CLIENT_W_CITY_2',
 'REGION_RATING_CLIENT_W_CITY_3',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'WALLSMATERIAL_MODE_Block',
 'WALLSMATERIAL_MODE_Mixed',
 'WALLSMATERIAL_MODE_Monolithic',
 'WALLSMATERIAL_MODE_Others',
 'WALLSMATERIAL_MODE_Panel',
 'WALLSMATERIAL_MODE_Stone, brick',
 'WALLSMATERIAL_MODE_Wooden',
 'WALLSMATERIAL_MODE_nan',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY']

In [30]:
appdata.groupby(['BURSTAT0']).count()

,TARGET,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,BASEMENTAREA_AVG,...,SK_DPD_DEF,MAX_SK_DPD,MAX_SK_DPD_DEF,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,POS_SK_DPD_CUR,POS_SK_DPD_DEF,POS_COUNT,POS_SK_DPD_HIST,POS_SK_DPD_DEF_HIST
BURSTAT0,,,,,,,,,,,,,,,,,,,,,
0.000000,246659,246659,246659,246659,246659,246659,246659,246659,246659,246659,...,40439,40439,40439,50817,50817,50817,50817,50817,50817,50817
0.693147,4522,4522,4522,4522,4522,4522,4522,4522,4522,4522,...,799,799,799,888,888,888,888,888,888,888
1.098612,504,504,504,504,504,504,504,504,504,504,...,72,72,72,91,91,91,91,91,91,91
1.386294,89,89,89,89,89,89,89,89,89,89,...,15,15,15,14,14,14,14,14,14,14
1.609438,29,29,29,29,29,29,29,29,29,29,...,3,3,3,3,3,3,3,3,3,3
1.791759,6,6,6,6,6,6,6,6,6,6,...,0,0,0,4,4,4,4,4,4,4
1.945910,3,3,3,3,3,3,3,3,3,3,...,0,0,0,1,1,1,1,1,1,1
2.079442,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2.302585,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# Scrub some data

In [31]:
appdata['PREVAPP_AMT_GOODS_PRICE'].replace([np.inf, -np.inf], np.nan, inplace=True)
appdata['BAD_DEBT'].fillna(value=0, inplace=True)
appdata['NFLAG_LAST_APPL_IN_DAY']=appdata['NFLAG_LAST_APPL_IN_DAY'].fillna(value=0).astype(int)

# Make binary labels, categorical dummies, interpolate missing numerical data

In [32]:
def make_categorical_dummies(df, categorical_cols):

    for col in categorical_cols:
        df[col] = df[col].astype(str)

    dummies = pd.get_dummies(df.loc[:,categorical])
    return dummies

#make_categorical_dummies(appdata, categorical).head()

In [33]:
appdata['NFLAG_LAST_APPL_IN_DAY'].unique()

array([1, 0])

In [34]:
def make_binary_flags(df, binary_cols):
    binary_df = df.loc[:,binary_cols]

    # binarize values (y/n, m/f -> 0,1)
    for col in binary_cols:
        print(col)
        binary_df[col] = LabelBinarizer().fit_transform(binary_df[[col]])

    return binary_df

# make_binary_flags(appdata, binary).head()

In [35]:
def scrub_numerical(df, numerical_cols, verbose=False):
    numerical_df = df.loc[:,numerical_cols]

    # impute missing values
    for col in numerical_cols:
        if verbose:
            print(col)
        
        numerical_df[[col]] = SimpleImputer(missing_values=np.nan, 
                                            strategy='mean').fit_transform(numerical_df[[col]])
        
    return numerical_df

#scrub_numerical(appdata, numeric, verbose=True).head()

# Disaggregate, pickle training and test data

In [36]:
complexdata = pd.concat((appdata[["TARGET"]],
                         appdata[["SK_ID_CURR"]], 
                         scrub_numerical(appdata, numeric),
                         make_binary_flags(appdata, binary),
                         make_categorical_dummies(appdata, categorical)
                        ),
                        axis=1)

print(complexdata.shape)
# disaggregate train and test 
complex_train = complexdata.loc[complexdata["TARGET"] != -1]
complex_train.to_pickle("complex_train.pickle")

complex_test = complexdata.loc[complexdata["TARGET"] == -1]
complex_test = complex_test.drop(columns=["TARGET"])
complex_test.to_pickle("complex_test.pickle")

complexdata.head()

AMT_REQ_CREDIT_BUREAU_DAY_0.0
AMT_REQ_CREDIT_BUREAU_DAY_1.0
AMT_REQ_CREDIT_BUREAU_DAY_2.0
AMT_REQ_CREDIT_BUREAU_DAY_3.0
AMT_REQ_CREDIT_BUREAU_DAY_4.0
AMT_REQ_CREDIT_BUREAU_DAY_5.0
AMT_REQ_CREDIT_BUREAU_DAY_6.0
AMT_REQ_CREDIT_BUREAU_DAY_8.0
AMT_REQ_CREDIT_BUREAU_DAY_9.0
AMT_REQ_CREDIT_BUREAU_DAY_nan
AMT_REQ_CREDIT_BUREAU_HOUR_0.0
AMT_REQ_CREDIT_BUREAU_HOUR_1.0
AMT_REQ_CREDIT_BUREAU_HOUR_2.0
AMT_REQ_CREDIT_BUREAU_HOUR_3.0
AMT_REQ_CREDIT_BUREAU_HOUR_4.0
AMT_REQ_CREDIT_BUREAU_HOUR_nan
AMT_REQ_CREDIT_BUREAU_WEEK_0.0
AMT_REQ_CREDIT_BUREAU_WEEK_1.0
AMT_REQ_CREDIT_BUREAU_WEEK_2.0
AMT_REQ_CREDIT_BUREAU_WEEK_3.0
AMT_REQ_CREDIT_BUREAU_WEEK_4.0
AMT_REQ_CREDIT_BUREAU_WEEK_5.0
AMT_REQ_CREDIT_BUREAU_WEEK_6.0
AMT_REQ_CREDIT_BUREAU_WEEK_7.0
AMT_REQ_CREDIT_BUREAU_WEEK_8.0
AMT_REQ_CREDIT_BUREAU_WEEK_nan
BAD_DEBT
CODE_GENDER_F
CODE_GENDER_M
CODE_GENDER_XNA
DEF_30_CNT_SOCIAL_CIRCLE_0.0
DEF_30_CNT_SOCIAL_CIRCLE_1.0
DEF_30_CNT_SOCIAL_CIRCLE_2.0
DEF_30_CNT_SOCIAL_CIRCLE_3.0
DEF_30_CNT_SOCIAL_CIRCLE_34.0
DEF_30_CNT_SOCIAL_CIRCLE_4.0
DEF_30_CNT_SOCIAL_CIRCLE_5.0
DEF_30_CNT_SOCIAL_CIRCLE_6.0
DEF_30_CNT_SOCIAL_CIRCLE_7.0
DEF_30_CNT_SOCIAL_CIRCLE_8.0
DEF_30_CNT_SOCIAL_CIRCLE_nan
DEF_60_CNT_SOCIAL_CIRCLE_0.0
DEF_60_CNT_SOCIAL_CIRCLE_1.0
DEF_60_CNT_SOCIAL_CIRCLE_2.0
DEF_60_CNT_SOCIAL_CIRCLE_24.0
DEF_60_CNT_SOCIAL_CIRCLE_3.0
DEF_60_CNT_SOCIAL_CIRCLE_4.0
DEF_60_CNT_SOCIAL_CIRCLE_5.0
DEF_60_CNT_SOCIAL_CIRCLE_6.0
DEF_60_CNT_SOCIAL_CIRCLE_7.0
DEF_60_CNT_SOCIAL_CIRCLE_nan
EMERGENCYSTATE_MODE_No
EMERGENCYSTATE_MODE_Yes
EMERGENCYSTATE_MODE_nan
FLAG_CONT_MOBILE
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_2
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_EMAIL
FLAG_EMP_PHONE
FLAG_MOBIL
FLAG_OWN_CAR
FLAG_OWN_REALTY
FLAG_PHONE
FLAG_WORK_PHONE
FONDKAPREMONT_MODE_nan
FONDKAPREMONT_MODE_not specified
FONDKAPREMONT_MODE_org spec account
FONDKAPREMONT_MODE_reg oper account
FONDKAPREMONT_MODE_reg oper spec account
HOUSETYPE_MODE_block of flats
HOUSETYPE_MODE_nan
HOUSETYPE_MODE_specific housing
HOUSETYPE_MODE_terraced house
LIVE_CITY_NOT_WORK_CITY
LIVE_REGION_NOT_WORK_REGION
NAME_CONTRACT_TYPE
NAME_EDUCATION_TYPE_Academic degree
NAME_EDUCATION_TYPE_Higher education
NAME_EDUCATION_TYPE_Incomplete higher
NAME_EDUCATION_TYPE_Lower secondary
NAME_EDUCATION_TYPE_Secondary / secondary special
NAME_FAMILY_STATUS_Civil marriage
NAME_FAMILY_STATUS_Married
NAME_FAMILY_STATUS_Separated
NAME_FAMILY_STATUS_Single / not married
NAME_FAMILY_STATUS_Unknown
NAME_FAMILY_STATUS_Widow
NAME_HOUSING_TYPE_Co-op apartment
NAME_HOUSING_TYPE_House / apartment
NAME_HOUSING_TYPE_Municipal apartment
NAME_HOUSING_TYPE_Office apartment
NAME_HOUSING_TYPE_Rented apartment
NAME_HOUSING_TYPE_With parents
NAME_INCOME_TYPE_Businessman
NAME_INCOME_TYPE_Commercial associate
NAME_INCOME_TYPE_Maternity leave
NAME_INCOME_TYPE_Pensioner
NAME_INCOME_TYPE_State servant
NAME_INCOME_TYPE_Student
NAME_INCOME_TYPE_Unemployed
NAME_INCOME_TYPE_Working
NAME_TYPE_SUITE_Children
NAME_TYPE_SUITE_Family
NAME_TYPE_SUITE_Group of people
NAME_TYPE_SUITE_Other_A
NAME_TYPE_SUITE_Other_B
NAME_TYPE_SUITE_Spouse, partner
NAME_TYPE_SUITE_Unaccompanied
NAME_TYPE_SUITE_nan
NFLAG_LAST_APPL_IN_DAY
OCCUPATION_TYPE_Accountants
OCCUPATION_TYPE_Cleaning staff
OCCUPATION_TYPE_Cooking staff
OCCUPATION_TYPE_Core staff
OCCUPATION_TYPE_Drivers
OCCUPATION_TYPE_HR staff
OCCUPATION_TYPE_High skill tech staff
OCCUPATION_TYPE_IT staff
OCCUPATION_TYPE_Laborers
OCCUPATION_TYPE_Low-skill Laborers
OCCUPATION_TYPE_Managers
OCCUPATION_TYPE_Medicine staff
OCCUPATION_TYPE_Private service staff
OCCUPATION_TYPE_Realty agents
OCCUPATION_TYPE_Sales staff
OCCUPATION_TYPE_Secretaries
OCCUPATION_TYPE_Security staff
OCCUPATION_TYPE_Waiters/barmen staff
OCCUPATION_TYPE_nan
ORGANIZATION_TYPE_Advertising
ORGANIZATION_TYPE_Agriculture
ORGANIZATION_TYPE_Bank
ORGANIZATION_TYPE_Business Entity Type 1
ORGANIZATION_TYPE_Business Entity Type 2
ORGANIZATION_TYPE_Business Entity Type 3
ORGANIZATION_TYPE_Cleaning
ORGANIZATION_TYPE_Construction
ORGANIZATION_TYPE_Culture
ORGANIZATION_TYPE_Electricity
ORGANIZATION_TYPE_Emergency
ORGANIZATION_TYPE_Government
ORGANIZATION_TYPE_Hotel
ORGANIZATION_TYPE_Housing
ORGANIZATION_TYPE_Industry: type 1
ORGANIZATION_TYPE_Industry: type 10
ORGANIZATION_TYPE_Industry: type 11
ORGANIZATION_TYPE_Industry: type 12
ORGANIZATION_TYPE_Industry: type 13
ORGANIZATION_TYPE_Industry: type 2
ORGANIZATION_TYPE_Industry: type 3
ORGANIZATION_TYPE_Industry: type 4
ORGANIZATION_TYPE_Industry: type 5
ORGANIZATION_TYPE_Industry: type 6
ORGANIZATION_TYPE_Industry: type 7
ORGANIZATION_TYPE_Industry: type 8
ORGANIZATION_TYPE_Industry: type 9
ORGANIZATION_TYPE_Insurance
ORGANIZATION_TYPE_Kindergarten
ORGANIZATION_TYPE_Legal Services
ORGANIZATION_TYPE_Medicine
ORGANIZATION_TYPE_Military
ORGANIZATION_TYPE_Mobile
ORGANIZATION_TYPE_Other
ORGANIZATION_TYPE_Police
ORGANIZATION_TYPE_Postal
ORGANIZATION_TYPE_Realtor
ORGANIZATION_TYPE_Religion
ORGANIZATION_TYPE_Restaurant
ORGANIZATION_TYPE_School
ORGANIZATION_TYPE_Security
ORGANIZATION_TYPE_Security Ministries
ORGANIZATION_TYPE_Self-employed
ORGANIZATION_TYPE_Services
ORGANIZATION_TYPE_Telecom
ORGANIZATION_TYPE_Trade: type 1
ORGANIZATION_TYPE_Trade: type 2
ORGANIZATION_TYPE_Trade: type 3
ORGANIZATION_TYPE_Trade: type 4
ORGANIZATION_TYPE_Trade: type 5
ORGANIZATION_TYPE_Trade: type 6
ORGANIZATION_TYPE_Trade: type 7
ORGANIZATION_TYPE_Transport: type 1
ORGANIZATION_TYPE_Transport: type 2
ORGANIZATION_TYPE_Transport: type 3
ORGANIZATION_TYPE_Transport: type 4
ORGANIZATION_TYPE_University
ORGANIZATION_TYPE_XNA
REGION_POPULATION_QUANTILE_0
REGION_POPULATION_QUANTILE_1
REGION_POPULATION_QUANTILE_2
REGION_POPULATION_QUANTILE_3
REGION_POPULATION_QUANTILE_4
REGION_POPULATION_QUANTILE_5
REGION_POPULATION_QUANTILE_6
REGION_POPULATION_QUANTILE_7
REGION_POPULATION_QUANTILE_8
REGION_POPULATION_QUANTILE_9
REGION_RATING_CLIENT_1
REGION_RATING_CLIENT_2
REGION_RATING_CLIENT_3
REGION_RATING_CLIENT_W_CITY_-1
REGION_RATING_CLIENT_W_CITY_1
REGION_RATING_CLIENT_W_CITY_2
REGION_RATING_CLIENT_W_CITY_3
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
WALLSMATERIAL_MODE_Block
WALLSMATERIAL_MODE_Mixed
WALLSMATERIAL_MODE_Monolithic
WALLSMATERIAL_MODE_Others
WALLSMATERIAL_MODE_Panel
WALLSMATERIAL_MODE_Stone, brick
WALLSMATERIAL_MODE_Wooden
WALLSMATERIAL_MODE_nan
WEEKDAY_APPR_PROCESS_START_FRIDAY
WEEKDAY_APPR_PROCESS_START_MONDAY
WEEKDAY_APPR_PROCESS_START_SATURDAY
WEEKDAY_APPR_PROCESS_START_SUNDAY
WEEKDAY_APPR_PROCESS_START_THURSDAY
WEEKDAY_APPR_PROCESS_START_TUESDAY
WEEKDAY_APPR_PROCESS_START_WEDNESDAY
(356255, 548)

,TARGET,SK_ID_CURR,AMT_ANNUITY,AMT_BALANCE,AMT_CREDIT,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,VERIF_COUNT_0.0,VERIF_COUNT_0.6931471805599453,VERIF_COUNT_1.0986122886681098,VERIF_COUNT_1.3862943611198906,VERIF_COUNT_1.6094379124341003,VERIF_COUNT_1.791759469228055,VERIF_COUNT_1.9459101490553132,VERIF_COUNT_2.3978952727983707,VERIF_COUNT_3.258096538021482,VERIF_COUNT_nan
0,1,100002,24700.5,0.666223,406597.5,1.228833,0.000200,2.380193,1.213733,0.157968,...,1,0,0,0,0,0,0,0,0,0
1,0,100003,35698.5,0.666223,1293502.5,1.228833,0.000000,3.000000,0.000000,3.000000,...,1,0,0,0,0,0,0,0,0,0
2,0,100004,6750.0,0.666223,135000.0,1.228833,0.021783,7.415797,4.556346,0.169520,...,1,0,0,0,0,0,0,0,0,0
3,0,100006,29686.5,0.000000,312682.5,2.000000,0.021783,7.415797,4.556346,0.169520,...,1,0,0,0,0,0,0,0,0,0
4,0,100007,21865.5,0.666223,513000.0,1.228833,0.021783,7.415797,4.556346,0.169520,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
print(complex_train.shape)
complex_train.head()

In [ ]:
print(complex_test.shape)
complex_test.head()

In [ ]:
def subsample(df, n):
    # sample 10,000 row indexesfrom application_train (or use pd.sample)
    nrows, ncols = df.shape
    subsample_indexes = sorted(random.sample(range(nrows), n))
    return application_train.loc[subsample_indexes, :]